
<!-- 底部链接 -->
<div class="foot">
    <a href="<!--{$cfg.url}-->about/about.php" target="_blank">关于我们</a> | <a href="<!--{$cfg.url}-->about/talented.php" target="_blank">人才招聘</a> | <a href="<!--{$cfg.url}-->about/agreement.php" target="_blank">用户协议</a> | <a href="<!--{$cfg.url}-->about/copyright.php" target="_blank">版权声明</a> | <a href="<!--{$cfg.url}-->about/contact.php" target="_blank">联系我们</a>
    <br>客服热线：<!--{$rexian}-->&nbsp;&nbsp;&nbsp;&nbsp;客服QQ：<!--{$qq}-->
    <br>Powered by <a href="http://6doffice.com/">6doffice V2</a>  <a href="http://www.miibeian.gov.cn" target="_blank"><!--{$beian}--></a>

    <br>
    <!--{$tongji}-->
</div>
<!-- 底部链接 结束 -->
