<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Common:head"/>
    <script>
        function dj(i)
        {
            for(j=1;j<6;j++)
            {
                if(i==j){
                    document.getElementById("a"+j).className="li2";
                    document.getElementById("b"+j).style.display="";
                }
                else
                {
                    document.getElementById("a"+j).className="li1";
                    document.getElementById("b"+j).style.display="none";
                }
            }

        }
    </script>
</head>

<body>
<script>
    function fg(r)
    {
        for(t=1;t<6;t++)
        {
            if(r==t){
                document.getElementById("c"+t).className="lid";
                document.getElementById("d"+t).style.display="";
            }
            else
            {
                document.getElementById("c"+t).className="lic";
                document.getElementById("d"+t).style.display="none";
            }
        }

    }
</script>
<script type="text/javascript">
    function changeSearch(formDom){
        location.href=formDom.value;
    }

    function quickSearch(domValue,domType){
        var inputDom = document.getElementById(domType);
        if(inputDom){
            inputDom.value=domValue;
        }
        var cityareaValue = document.getElementById('cityarea').value;
        var qValue = document.getElementById('S_q').value;
        var typeValue = document.getElementById('type').value;
        var avgprice = document.getElementById('avgprice').value;
        var boroughValue = document.getElementById('borough').value;
        var list_numValue = document.getElementById('list_num').value;
        var list_orderValue = document.getElementById('list_order').value;
        if(domType == 'cityarea') boroughValue = '';
        location.href='index.php?q='+qValue+'&borough='+boroughValue+'&cityarea='+cityareaValue+'&type='+typeValue+'&list_num='+list_numValue+'&list_order='+list_orderValue+'&avgprice='+avgprice;
        return false;
    }
</script>
<include file="Common:selltop"/>
<include file="Common:city_selecter_community"/>
<div class="content">
    <div class="sale_xx_left">
        <div id="sale_xx_top">
            <ul>
                <li class="liz">全部小区</li>
            </ul>
            <div class="Community_left_next">
                <table>
                    <tr>
                        <td width="200" align="right">共找到 <span style="color:#61a00d; font-weight:bold;"><!--{$row_count}--></span> 个符合要求的小区&nbsp;</td>
                        <td>
                            <!--{if $pageno > 1}-->
                            <a href="index.php?q=<!--{$smarty.get.q}-->&letter=<!--{$smarty.get.letter}-->&cityarea=<!--{$smarty.get.cityarea}-->&borough=<!--{$smarty.get.borough}-->&price=<!--{$smarty.get.price}-->&totalarea=<!--{$smarty.get.totalarea}-->&room=<!--{$smarty.get.room}-->&type=<!--{$smarty.get.type}-->&feature=<!--{$smarty.get.feature}-->&switch=<!--{$smarty.get.switch}-->&showstyle=<!--{$smarty.get.showstyle}-->&list_num=<!--{$smarty.get.list_num}-->&list_order=<!--{$smarty.get.list_order}-->&pageno=<!--{$pageno-1}-->" onfocus=blur()>
                                <img src="<!--{$cfg.path.images}-->sale01a.jpg" border="0" class="RL-Prev"/>
                            </a>
                            <!--{else}-->
                            <a href="javascript:void(0);">
                                <img src="<!--{$cfg.path.images}-->sale01.jpg" border="0" class="RL-Prev"/>
                            </a>
                            <!--{/if}-->
                        </td>
                        <td id="RL_NoPage"><!--{$pageno}-->/<!--{$page_count}--></td>
                        <td>
                            <!--{if $pageno < $page_count and $pageno < 100}-->
                            <a href="index.php?q=<!--{$smarty.get.q}-->&letter=<!--{$smarty.get.letter}-->&cityarea=<!--{$smarty.get.cityarea}-->&borough=<!--{$smarty.get.borough}-->&price=<!--{$smarty.get.price}-->&totalarea=<!--{$smarty.get.totalarea}-->&room=<!--{$smarty.get.room}-->&type=<!--{$smarty.get.type}-->&feature=<!--{$smarty.get.feature}-->&switch=<!--{$smarty.get.switch}-->&showstyle=<!--{$smarty.get.showstyle}-->&list_num=<!--{$smarty.get.list_num}-->&list_order=<!--{$smarty.get.list_order}-->&pageno=<!--{$pageno+1}-->" onfocus=blur()>
                                <img src="<!--{$cfg.path.images}-->sale02a.jpg" border="0" class="RL-Next"/>
                            </a>
                            <!--{else}-->
                            <a href="javascript:void(0);">
                                <img src="<!--{$cfg.path.images}-->sale01.jpg" border="0" class="RL-Prev"/>
                            </a>
                            <!--{/if}-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="all_fy_bg" style=" margin-top:-1px;">
            <div class="all_fy_bgl">
                <a href="javascript:void(0)" onclick="quickSearch('sell_num desc','list_order');" class="<!--{if $smarty.get.list_order=='sell_num desc'}-->input_mrpxx<!--{else}-->input_mrpx<!--{/if}-->" >
                    默认排序
                </a>
                <a href="javascript:void(0)" onclick="quickSearch('house_num desc','list_order');" class="<!--{if $smarty.get.list_order=='house_num desc'}-->input_mrpxx<!--{else}-->input_mrpx<!--{/if}-->" >
                    按房源量
                </a>
                <a href="javascript:void(0);" onclick="quickSearch('borough_avgprice asc','list_order');return false;" class="<!--{if $smarty.get.list_order=='borough_avgprice asc'}-->input_zj<!--{else}-->input_pxbg56<!--{/if}-->" >
                    按均价<!--{if $smarty.get.list_order=='borough_avgprice asc'}--><!--{if $smarty.get.list_order=='borough_avgprice asc'}-->&darr;<!--{else}-->&uarr;<!--{/if}--><!--{else}-->&uarr;<!--{/if}-->
                </a>
                <a href="javascript:void(0);" onclick="quickSearch('percent_change desc','list_order');return false;" class="<!--{if $smarty.get.list_order=='percent_change desc'}-->input_zj<!--{else}-->input_pxbg56<!--{/if}-->" >
                    按涨跌<!--{if $smarty.get.list_order=='percent_change asc'}--><!--{if $smarty.get.list_order=='percent_change asc'}-->&darr;<!--{else}-->&uarr;<!--{/if}--><!--{else}-->&uarr;<!--{/if}-->
                </a>
            </div>
        </div>


        <div class="Community_content">
            <!--{foreach from=$dataList item=item key=key}-->
            <ol id="list_body">
                <div class="h15"></div>
                <div class="property2">
                    <div class="photo">
                        <a href="<!--{$cfg.url_community}-->g-<!--{$item.id}-->.html" title="<!--{$item.borough_name}-->" target="_blank"><img src="<!--{if $item.borough_thumb}--><!--{$cfg.url_upfile}--><!--{$item.borough_thumb}--><!--{else}--><!--{$cfg.path.images}-->housePhotoDefault.gif<!--{/if}-->" width="100" height="75" alt="<!--{$item.borough_name}-->-<!--{$item.cityarea_name}--><!--{$item.citypart_name}-->" title="<!--{$item.borough_name}-->-<!--{$item.cityarea_name}--><!--{$item.citypart_name}-->" /></a></div>
                    <div class="Community_title" style="margin-left:10px;">
                        <h4>
                            <a href="<!--{$cfg.url_community}-->g-<!--{$item.id}-->.html" title="<!--{$item.borough_name}-->" target="_blank"><!--{$item.borough_name}--><!--{if $item.borough_alias}-->(<!--{$item.borough_alias}-->)<!--{/if}--></a></h4>
                        <address><a href="<!--{$cfg.url_community}-->index.php?cityarea=<!--{$item.cityarea_id}-->"><!--{$item.cityarea_name}--></a> - <!--{$item.borough_address}-->


                        </address>
                        <p>二手房源：<span><a href="sale.php?id=<!--{$item.id}-->" title="查看二手房源" target="_blank"><!--{$item.sell_num}-->套</a></span></p><p>出租房源：<span><a href="rent.php?id=<!--{$item.id}-->" title="查看租房源" target="_blank"><!--{$item.rent_num}-->套</a></span></p>
                    </div>
                    <!--{if $item.percent_change > 0}--><div class="Community_price">↑ <!--{$item.percent_change|abs}-->%</div><!--{/if}--><!--{if $item.percent_change < 0}--><div class="Community_price_d">↓ <!--{$item.percent_change|abs}-->%</div><!--{/if}--><!--{if $item.percent_change == 0}--><div class="Community_price">--</div><!--{/if}-->
                    <div class="Community_tags">均价：<!--{if $item.borough_avgprice>0}--><span><!--{$item.borough_avgprice}--></span><!--{else}-->--<!--{/if}--></span>元/平米</div>
                </div>
                <div class="h23"></div>
                <div class="hr"></div>
                <div class="h15"></div>
            </ol>
            <!--{/foreach}-->
            <div class="Community-div">
                <div class="contain">
                    <!-- 小区列表分页 -->
                    <!--{$pagePanel}-->
                    <!-- 小区列表分页 结束 -->
                </div>
                <div class="result">共找到 <span style="color:#61a00d; font-weight:bold;"><!--{$row_count}--></span> 个符合要求的小区</div>
            </div>
        </div>


    </div>
    <div class="sale_xx_right">
        <div class="region">
            <h3>热门小区</h3>
            <!--{ foreach from=$boroughList key=key item=item}-->
            <div class="region_main">
                <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto">
                    <tr>
                        <td colspan="2" align="center"><a href="<!--{$cfg.url_community}-->g-<!--{$item.id}-->.html" title="<!--{$item.borough_name}-->" target="_blank"><img src="<!--{if $item.borough_thumb}--><!--{$cfg.url_upfile}--><!--{$item.borough_thumb}--><!--{else}--><!--{$cfg.path.images}-->housePhotoDefault.gif<!--{/if}-->" width="100" height="80" class="Top_Community" alt="<!--{$item.borough_name}-->-<!--{$item.cityarea_name}--><!--{$item.citypart_name}-->" title="<!--{$item.borough_name}-->-<!--{$item.cityarea_name}--><!--{$item.citypart_name}-->" /></a></td>
                    </tr>
                    <tr>
                        <td width="58%" height="32" align="right"><strong><a href="<!--{$cfg.url_community}-->g-<!--{$item.id}-->.html" title="<!--{$item.borough_name}-->" target="_blank"><!--{$item.borough_name}--></a></strong> </td>
                        <td width="42%" align="left" class="font_2f5aaf">&nbsp;<strong><a href="<!--{$cfg.url_community}-->index.php?borough=<!--{$item.citypart_id}-->&cityarea=<!--{$item.cityarea_id}-->"><!--{$item.citypart_name}--></a></strong></td>
                    </tr>
                    <tr>
                        <td height="32" align="right"><strong class="top_jg"><!--{if $item.borough_avgprice}--><!--{$item.borough_avgprice}--></strong>元/平米<!--{else}-->--<!--{/if}--></td>
                        <td align="left" class="Community_z">&nbsp;	<!--{if $item.percent_change<>0}--><!--{if $item.percent_change < 0}-->↓<!--{$item.percent_change|abs}-->%<!--{else}-->↑<!--{$item.percent_change}-->%<!--{/if}--><!--{else}-->--<!--{/if}--></td>
                    </tr>
                </table>
            </div>
            <!--{/foreach}-->


        </div>
    </div>
</div>
<include file="Common:foot"/>
</body>
</html>