<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><!--{$title}--> - 房东信息</title>
    <css file="__PUBLIC__/css/member.css"/>
    <js file="__PUBLIC__/js/jquery.min.js"/>
    <js file="__PUBLIC__/js/map.js"/>
</head>
<body>
<div id="modalWindow">
    <table width="100%">
        <tr>
            <td>业主姓名：</td>
            <td><!--{$houseInfo.owner_name}--></td>
        </tr>
        <tr>
            <td>业主电话：</td>
            <td><!--{$houseInfo.owner_phone}--></td>
        </tr>
        <tr>
            <td>备注：</td>
            <td><!--{$houseInfo.owner_notes}--></td>
        </tr>
    </table>

</div>
</body>
</html>