<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><!--{$title}--> - 查看好友</title>
    <css file="__PUBLIC__/css/member.css"/>
    <js file="__PUBLIC__/js/jquery.min.js"/>
    <js file="__PUBLIC__/js/map.js"/>

    <!-- 引入layer弹窗 -->
    <js file="__PUBLIC__/js/layer/layer.js"/>
</head>
<body>
<include file="Common:memberHeader"/>
<div class="main">
    <div class="page">
        <include file="Common:member_left"/>
        <div class="memberBox">
            <div class="msgOperationBox">
                <ul class="msgOperation">
                    <li class="linkOn"><a href="<!--{:U(MODULE_NAME.'/ManageContacts/snsFriends')}-->"><span>我的好友</span></a></li>
                    <li><a href="<!--{:U(MODULE_NAME.'/ManageContacts/snsLinkIn')}-->"><span>谁来看过我</span></a></li>
                    <li><a href="<!--{:U(MODULE_NAME.'/ManageContacts/snsInviteIn')}-->"><span>好友邀请</span></a></li>
                </ul>
            </div>
            <div class="manageBox">
                <div class="friendsList">
                    <foreach name="dataList" item="item">
                    <table border="0" cellpadding="0" cellspacing="0" onmouseover="document.getElementById('friendsListExt_<!--{$key+1}-->').style.display=''" onmouseout="document.getElementById('friendsListExt_<!--{$key+1}-->').style.display='none'">
                        <tbody>
                        <tr>
                            <td class="rowPhoto"><a href="<!--{$cfg.url_shop}--><!--{$item.friend_id}-->" title="<!--{$item.realname}-->" target="_blank"><if condition="$item.avatar neq null"><img class="demoImgBorder" src="__ROOT__/Uploads/<!--{$item.avatar}-->" width="42" height="50" /><else/><img class="demoImgBorder" src="__PUBLIC__/images/demoPhoto.jpg" width="42" height="50" /></if></a></td>
                            <td class="rowName" colspan="2">
                                <p class="p1"><span><a class="font14px fontBold" href="<!--{$cfg.url_shop}--><!--{$item.friend_id}-->" target="_blank"><!--{$item.realname}--></a>&nbsp;<!--{$item.broker_type}--></span><if condition="$item['birth_remember'] neq null"><span><img src="__PUBLIC__/images/snsBirth.gif" align="absmiddle" /> 生日提醒：<a class="underline" href="msgWrite.php?msg_to=<!--{$item.username}-->" title="发送生日祝福"><!--{$item.realname}--> 快过生日了</a></span></if></p>
                                <p class="p2"><span class="alphaFontFamily">手机：<!--{$item.mobile}--></span><span class="alphaFontFamily">出售：<a class="underline" href="<!--{$cfg.url_shop}-->sale.php?id=<!--{$item.friend_id}-->" target="_blank"><!--{$item.sell_num}-->套</a></span></span><span class="alphaFontFamily">出租：<a class="underline" href="<!--{$cfg.url_shop}-->rent.php?id=<!--{$item.friend_id}-->" target="_blank"><!--{$item.rent_num}-->套</a></span></p>
                            </td>
                            <td><img src="__PUBLIC__/images/msgUnread.gif" /> <a href="msgWrite.php?msg_to=<!--{$item.username}-->">发送消息</a></td>
                        </tr>
                        </tbody>
                        <tbody id="friendsListExt_<!--{$key+1}-->" class="friendsListExt" style="display:none">
                        <tr>
                            <td colspan="4">
                                <span class="alphaFontFamily">E-mail：<!--{$item.email}--></span>
                                <span class="alphaFontFamily">QQ：<!--{$item.qq}--></span>
                                <span class="alphaFontFamily">MSN：<!--{$item.msn}--></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span class="alphaFontFamily">服务区域：<!--{$item.cityarea_name}--></span>
                                <span class="alphaFontFamily">门店地址：<!--{$item.outlet_addr}--></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tdContRight"><img src="__PUBLIC__/images/deleteIcon.gif" align="absmiddle" /><a href="<!--{:U(MODULE_NAME.'/ManageContacts/snsFriends')}-->/action/delete/id/<!--{$item.id}-->" onclick="if(confirm('确定要删除该好友吗？')){return true;}else{return false;}">删除好友</a></td>
                        </tr>
                        </tbody>
                    </table>
                    </foreach>
                    <!--{$pagePanel}-->
                </div>
                <div><a href="" onclick="showBox();return false;">添加好友</a></div>
            </div>
        </div>
    </div>

</div>
<script>
    function showBox(){
        var url='<!--{:U(MODULE_NAME."/ManageContacts/snsFriends")}-->/action/add/'
        layer.open({
            type: 2,
            title: ['添加好友', ''],
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['400px' , '370px'],
            content: url,
            scrollbar: false,
        });
    }
</script>
</body>
</html>