<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>加盟城市</title>
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>

    <!-- bootstrap -->

    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <!--icheck-->
    <link href="__PUBLIC__/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="__PUBLIC__/css/clndr.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="__PUBLIC__/js/morris-chart/morris.css">

    <!--common-->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
    <css file="__PUBLIC__/css/admin.css"/>
    <js file="__PUBLIC__/js/layer/layer.js"/>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left-side"/>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common:header_section"/>
        <!-- header section end-->


        <!--列表-->
        <table cellpadding="0" cellspacing="1" class="table_info">
            <caption>加盟信息管理</caption>

            <td>
                <a href="?check=0"><if condition='$Think.get.check eq 0'><span style="color:red;">全部信息</span><else/>全部信息</if></a> |
                <a href="?check=1"><if condition='$Think.get.check eq 1'><span style="color:red;">未受理</span><else/>未受理</if></a> |
                <a href="?check=2"><if condition='$Think.get.check eq 2'><span style="color:red;">已回访</span><else/>已回访</if></a>
                | <a href="?check=3"><if condition='$Think.get.check eq 3'><span style="color:red;">已受理</span><else/>已受理</if></a>
            </td>

        </table>


        <form name="myform" method="post" action="">
            <table width="921" cellpadding="2" cellspacing="2" class="table_list">
                <caption>加盟信息管理</caption>
                <tr>
                    <th width="28">选中</th>
                    <th width="118">公司名称</th>
                    <th width="78">城市名称</th>
                    <th width="78">公司地址</th>
                    <th width="78">联系人</th>
                    <th width="88">手机</th>
                    <th width="52">固定电话</th>
                    <th width="58">申请时间</th>
                    <th width="129">状态</th>

                </tr>
                <tbody>
                <foreach item="item" name="dataList">
                <tr>
                    <td class="align_c" ><input type="checkbox" name="ids[]" value="{$item.id}"></td>
                    <td>{$item.cname}&nbsp;</td>

                    <td class="align_c">
                        {$item.cityid}
                    </td>
                    <td class="align_c">{$item.address}</td>
                    <td class="align_c">{$item.con}</td>

                    <td class="align_c">{$item.mo}</td>
                    <td class="align_c">
                        {$item.tel}
                    </td>
                    <td class="align_c">
                        {$item.time|date="Y-m-d",###}
                    </td>

                    <td class="align_c">
                        <if condition='$item.status eq 0'><span style="color:#FF0000">未受理</span><elseif condition="$item.status eq 1"/>已回访 <else condition="$item.status eq 2"/>已受理 </if>
                    </td>

                </tr>
                </foreach>
                </tbody>
            </table>
            <div class="button_box">
                <span style="width:60px"><a href="#" onclick="javascript:$('input[type=checkbox]').attr('checked', true);return false;">全选</a>/<a href="#" onclick="javascript:$('input[type=checkbox]').attr('checked', false)">取消</a></span>


                <input type="button" value=" 删除 " onclick="if(confirm('你确认删除选中的加盟信息么？')){myform.action='?action=delete';myform.submit();}">
                <input type="button" value=" 回访 " onclick="if(confirm('你确定已经回访该加盟信息了么？')){myform.action='?action=dostatus&status=1';myform.submit();}">
                <input type="button" value=" 受理 " onclick="if(confirm('你确定受理该加盟信息么？')){myform.action='?action=dostatus&status=2';myform.submit();}">



            </div>
            {$pagePanel}
            <div id="pic_shower" style="position:absolute;color:white; width:320px; right:-30px; top:-10px; z-index:10000;background-color:#6680aa;display:none;"></div>
        </form>









        <!--footer section start-->
        <include file="Common/footer_section"/>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="__PUBLIC__/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="__PUBLIC__/js/sparkline/jquery.sparkline.js"></script>
<script src="__PUBLIC__/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="__PUBLIC__/js/iCheck/jquery.icheck.js"></script>
<script src="__PUBLIC__/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="__PUBLIC__/js/flot-chart/jquery.flot.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="__PUBLIC__/js/morris-chart/morris.js"></script>
<script src="__PUBLIC__/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="__PUBLIC__/js/calendar/clndr.js"></script>
<script src="__PUBLIC__/js/calendar/evnt.calendar.init.js"></script>
<script src="__PUBLIC__/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="__PUBLIC__/js/dashboard-chart-init.js"></script>


</body>
</html>
