<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>六度写字楼网后台管理</title>
    <!-- bootstrap -->

    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <js file="__PUBLIC__/js/bootstrap.js"/>
    <!--icheck-->
    <link href="__PUBLIC__/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="__PUBLIC__/css/clndr.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="__PUBLIC__/js/morris-chart/morris.css">

    <!--common-->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->

    <css file="__PUBLIC__/css/admin.css"/>
    <style>
        .nav-tabs li:hover{
            color:white;
        }
    </style>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left-side"/>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common:header_section"/>
        <!-- header section end-->

        <!-- Nav tabs -->


        <!-- Tab panes -->

        <table cellpadding="0" cellspacing="1" class="table">
            <caption>小区管理</caption>
            <tr>
                <td><a href="{:U('index')}"><font class="red">小区列表</font></a> | <a href="?action=add">添加小区</a> | <a href="?action=search&nofull=1" title="没有填写地址、缩略图">信息不全的小区</a></td>
            </tr>
        </table>

                <form name="search" method="get" action="?action=search">
                    <input type="hidden" name="action" value="search">
                    <table cellpadding="0" cellspacing="1" class="table">
                        <caption>信息查询</caption>
                        <tr>
                            <td align="center">
                                <select name='cityarea'>
                                    <option value="">所在区域</option>
                                    <foreach name="areaLists" item="item">
                                    <if condition="$cityarea eq $key">
                                    <option value="{$key}" selected>{$item}</option>
                                    <else/>
                                    <option value="{$key}">{$item}</option>
                                    </if>
                                    </foreach>
                                </select>
                                <input type="text" name="q" onblur="if(this.value ==''||this.value == '请输入小区名称,小区地址'){this.value = '请输入小区名称,小区地址';this.style.color = '#999999';}" onfocus="if(this.value == '请输入小区名称,小区地址'){this.value = '';this.style.color = '#333333';}" value="<if condition='$q neq null'>{$q}<else/>请输入小区名称,小区地址</if>" size="35" />&nbsp;
                                <input type="submit" name="dosubmit"  class="btn btn-primary" value=" 查询 " />
                            </td>
                        </tr>
                    </table>
                </form>


                <form name="myform" method="post" action="">
                    <table cellpadding="2" cellspacing="1" class="table">
                        <caption>小区信息管理</caption>
                        <tr>
                            <th width="60">选中</th>
                            <th>小区名称</th>
                            <th>小区别名</th>
                            <th width="100">所在区域</th>
                            <th>所在板块</th>
                            <th>小区地址</th>
                            <th>添加人</th>
                            <th width="100">管理操作</th>
                        </tr>
                        <tbody>
                        <foreach name="boroughList" item="item">
                        <tr>
                            <td class="align_c" >
                                <input type="checkbox" name="ids[]" value="{$item.id}" title="{$item.borough_name}">
                            </td>
                            <td><a href="{:U('Home/Community/general')}/id/{$item.id}" target="_blank">{$item.borough_name} </a> &nbsp;</td>
                            <td class="align_c">{$item.borough_alias} </td>
                            <td class="align_c">{$item.cityarea_id} </td>
                            <td class="align_c">{$item.borough_section}</td>
                            <td class="align_c">{$item.borough_address}</td>
                            <td class="align_c">{$item.creater}</td>
                            <td class="align_c">
                                <a href="?action=edit&id={$item.id}">修改</a>
                            </td>
                        </tr>
                        </foreach>
                        </tbody>
                    </table>
                </form>

                <div class="button_box">
                    <span style="width:60px"><a href="#" onclick="javascript:$('input[type=checkbox]').attr('checked', true);return false;">全选</a>/<a href="#" onclick="javascript:$('input[type=checkbox]').attr('checked', false)">取消</a></span>
                    <input type="button" name="delete" value=" 删除 " onclick="if(confirm('删除小区需要把其中的房源移动到其他的小区，你确认删除选中的条目么？')){myform.action='?action=delete';myform.submit();}">
                </div>
                <div class="pagePanel">
                    {$pagePanel}
                </div>

                </form>
                <form name="combineForm" id="combineForm" action="?action=combine" method="POST" >
                    <input type="hidden" name="fromaction" value="{$Think.request.action}">
                    <input type="hidden" name="q" value="{$Think.request.q}">
                    <input type="hidden" name="cityarea" value="{$Think.request.cityarea}">
                    <input type="hidden" name="pageno" value="{$Think.get.p}">
                    <table cellpadding="2" cellspacing="1" class="table">
                        <caption>合并小区</caption>
                        <tr>
                            <th width="30%"><input type="button" name="selectIdFrom" onclick="selectFromId();" value="点击按钮后选择需要合并的小区"></th>
                            <td><span id="fromIdSelected"></span></td>
                        </tr>
                        <tr>
                            <th><input type="button" name="selectIdTo"  onclick="selectToId();" value="点击按钮后选择合并到哪个小区"></th>
                            <td><span id="toIdSelected"></span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input type="button" name="combine"  class="btn btn-primary" value="合并" onclick="combineForm.submit();"></td>
                        </tr>
                    </table>
                </form>

                <script language="javascript">

                    function selectFrom(event) {
                        var newStr;
                        var thisId = document.getElementById('From_id_'+this.value);
                        var selectedId = document.getElementById('fromIdSelected');
                        if(thisId){
                            selectedId.removeChild(thisId);
                        }else{
                            newStr =  $('#fromIdSelected').html()+'<div id="From_id_'+this.value+'" class="upload_shower"><input type="hidden" name="fromId[]" value="'+this.value+'">'+this.title+'<div>';
                            $('#fromIdSelected').html(newStr);
                        }
                    }
                    function selectTo(event) {
                        var newStr;
                        var thisId = document.getElementById('To_id_'+this.value);
                        var selectedId = document.getElementById('toIdSelected');
                        if(thisId){
                            selectedId.removeChild(thisId);
                        }else{
                            selectedId.innerHTML =  '<div id="To_id_'+this.value+'" class="upload_shower"><input type="hidden" name="toId[]" value="'+this.value+'">'+this.title+'<div>';
                        }
                    }
                    function selectFromId(){
                        $('input[type=checkbox]').attr('checked', false);
                        $("input[type='checkbox']").unbind( "click" );
                        $("input[type='checkbox']").bind("click", selectFrom);
                    }

                    function selectToId(){
                        $('input[type=checkbox]').attr('checked', false);
                        $("input[type='checkbox']").unbind( "click" );
                        $("input[type='checkbox']").bind("click", selectTo);
                    }
                </script>






        <!--footer section start-->
        <include file="Common/footer_section"/>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>




</body>
</html>
