<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>六度写字楼网后台管理</title>
    <!-- bootstrap -->

    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <!--icheck-->
    <link href="__PUBLIC__/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="__PUBLIC__/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="__PUBLIC__/css/clndr.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="__PUBLIC__/js/morris-chart/morris.css">

    <!--common-->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left-side"/>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common:header_section"/>
        <!-- header section end-->

        <!--列表-->
        <table cellpadding="0" cellspacing="1" class="table">
            <caption>小区更新审核管理</caption>
            <tr>
                <td>
                    <a href="updateCheck.php"><!--{if !isset($smarty.get.status) }--><font class="red">全部</font><!--{else}-->全部<!--{/if}--></a> |
                    <a href="updateCheck.php?status=0"><!--{if isset($smarty.get.status) && $smarty.get.status == 0}--><font class="red">未审核</font><!--{else}-->未审核<!--{/if}--></a> |
                    <a href="updateCheck.php?status=1"><!--{if $smarty.get.status==1}--><font class="red">已审核</font><!--{else}-->已审核<!--{/if}--></a>

                </td>
            </tr>
        </table>
        <form name="myform" method="post" action="">
            <table cellpadding="2" cellspacing="1" class="table">
                <caption>信息列表</caption>
                <tr>
                    <th width="30">选中</th>
                    <th width="100">小区名字</th>
                    <th width="60">修改字段</th>
                    <th>旧值</th>
                    <th>新值</th>
                    <th width="60">状态</th>
                    <th width="60">修改人</th>
                    <th width="100">修改时间</th>
                </tr>
                <tbody>
                <!--{foreach item=item from=$dataList }-->
                <tr>
                    <td class="align_c" ><input type="checkbox" name="ids[]" value="<!--{$item.id}-->"></td>
                    <td class="align_c"><a href="<!--{$cfg.url_community}-->g-<!--{$item.borough_id}-->.html" target="_blank"><!--{$item.borough_name}--></a></td>
                    <td class="align_c"><!--{$item.field_caption}--></td>
                    <td class="align_c"><!--{$item.old_value}--></td>
                    <td class="align_c"><!--{$item.new_value}--></td>
                    <td class="align_c"><!--{if $item.status==0}-->未审核<!--{/if}--><!--{if $item.status==1}--><font color="red">已通过</font><!--{/if}--><!--{if $item.status==2}--><font color="red">已删除</font><!--{/if}--></td>
                    <td class="align_c"><!--{$item.user.realname}--></td>
                    <td class="align_c"><!--{$item.add_time|date="Y-m-d",###}--></td>
                </tr>
                <!--{/foreach}-->
                </tbody>
            </table>
            <div class="button_box">
                <span style="width:60px"><a href="#" onclick="javascript:$('input[type=checkbox]').attr('checked', true);return false;">全选</a>/<a href="#" onclick="javascript:$('input[type=checkbox]').attr('checked', false)">取消</a></span>
                <input type="button" name="lock" value=" 审核通过 " onclick="if(confirm('你确认审核通过选中的条目么？')){myform.action='updateCheck.php?action=status&dostatus=1';myform.submit();}">
                <input type="button" name="delete" value=" 删除 " onclick="if(confirm('你确认删除选中的条目么？')){myform.action='updateCheck.php?action=delete';myform.submit();}">
            </div>
            <!--{$pagePanel}-->

        </form>
        <div id="pic_shower" style="position:absolute;color:white; width:106px; right:-30px; top:-10px; z-index:10000;background-color:#6680aa;display:none;"></div>
        <script language="javascript">
            function showPic(picUrl){
                //alert('aaaa');
                if (!e) var e = window.event;

                if(!document.all){
                    mouse_x=e.pageX;
                    mouse_y=e.pageY;
                }else{
                    mouse_x=document.body.scrollLeft+event.clientX;
                    mouse_y=document.body.scrollTop+event.clientY;
                }
                $('#pic_shower').html('<img src="<!--{$cfg.url}-->upfile/'+picUrl+'">');
                $('#pic_shower').css('left',mouse_x+10).css('top',mouse_y+10).css('display','block');

            }
            function hidePic(){
                //alert('bbb');
                $('#pic_shower').css('display','none');
            }
            $(document).click(function(){hidePic();});
        </script>



        <!--footer section start-->
        <include file="Common/footer_section"/>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="__PUBLIC__/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="__PUBLIC__/js/sparkline/jquery.sparkline.js"></script>
<script src="__PUBLIC__/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="__PUBLIC__/js/iCheck/jquery.icheck.js"></script>
<script src="__PUBLIC__/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="__PUBLIC__/js/flot-chart/jquery.flot.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="__PUBLIC__/js/morris-chart/morris.js"></script>
<script src="__PUBLIC__/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="__PUBLIC__/js/calendar/clndr.js"></script>
<script src="__PUBLIC__/js/calendar/evnt.calendar.init.js"></script>
<script src="__PUBLIC__/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="__PUBLIC__/js/dashboard-chart-init.js"></script>


</body>
</html>
