<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <link href="__PUBLIC__/css/admin.css" rel="stylesheet">
    <js file="__PUBLIC__/js/css.js"/>
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">


</head>
<body>
<div id="modalWindow">
    <table class="table" cellpadding="2" cellspacing="0" >
        <caption>修改密码</caption>
        <form id="form1" name="form1" method="post" action="{:U('changePw')}/action/update" >

            <input name="id" type="hidden" value="{$id}" />
            <tr>
                <td>用户名：</td>
                <td>{$datainfo.username}</td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input name="passwd" type="password" id="pwd" maxlength="16" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" class="btn btn-primary" name="submit" value="修改密码" onclick="changeName()" /></td>
            </tr>
        </form>
    </table>
</div>

<script>
    function changeName(){
        var passwd = document.getElementById('pwd').value;
        var id='{$id}'

        $.ajax({
            url:'{:U("changePw")}/action/update',
            data:{'id':id,'passwd':passwd},
            dataType:'json',
            type:'post',
            success:function(data){
                if(data.status==1){
                    alert('更新成功');
                    window.parent.location.reload();
                }
            }
        })
        return false;
    }
</script>

</body>
</html>