/* style Common */
* { margin:0; padding:0; border:0; }
body { font-family:"宋体", sans-serif; font-size:12px; color:#666; text-align:left; }
li {list-style:none;}
div,span,ul,li { overflow:hidden; }

* {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: left; FONT-FAMILY: "宋体", sans-serif; COLOR: #666; FONT-SIZE: 12px
}
SPAN {
	OVERFLOW: hidden
}
UL {
	OVERFLOW: hidden
}
LI {
	OVERFLOW: hidden
}
LI {
	LIST-STYLE-TYPE: none
}
.familyAlpha {
	FONT-FAMILY: verdana, "宋体", sans-serif
}
.familyArial {
	FONT-FAMILY: Arial
}
.weightBold {
	FONT-WEIGHT: bold
}
.size10px {
	FONT-SIZE: 10px
}
.size14px {
	FONT-SIZE: 14px
}
.size16px {
	FONT-SIZE: 16px
}
.size18px {
	FONT-SIZE: 18px
}
.size24px {
	FONT-SIZE: 24px
}
.color000 {
	COLOR: #000
}
.color333 {
	COLOR: #333
}
.color999 {
	COLOR: #999
}
.colorC00 {
	COLOR: #c00
}
.colorF90 {
	COLOR: #f90
}
.colorF60 {
	COLOR: #f60
}
.color690 {
	COLOR: #690
}
A {
	COLOR: #666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f90; TEXT-DECORATION: underline
}
.aUnderline {
	TEXT-DECORATION: underline
}
#header {
	WIDTH: 100%; PADDING-TOP: 1px
}
#logo {
	WIDTH: 330px; DISPLAY: block; BACKGROUND: url(../images/logo.gif) no-repeat; FLOAT: left; HEIGHT: 34px; MARGIN-LEFT: 18px; _margin-left: 9px
}
#navTop {
	PADDING-RIGHT: 10px; FLOAT: right
}
#navTop UL LI {
	FLOAT: left; MARGIN-LEFT: 5px
}
#navMainBox {
	MARGIN-TOP: 15px; WIDTH: 100%; FLOAT: none; HEIGHT: 34px
}
#navMainBox .navMainBorderLeft {
	WIDTH: 2px; BACKGROUND: url(../images/navMainBg.gif) no-repeat left top; FLOAT: left; HEIGHT: 34px
}
#navMainBox .navMainBg {
	WIDTH: 946px; BACKGROUND: url(../images/navMainBg.gif) repeat-x left bottom; FLOAT: left; HEIGHT: 34px
}
#navMainBox .navMainBorderRight {
	WIDTH: 2px; BACKGROUND: url(../images/navMainBg.gif) no-repeat right top; FLOAT: left; HEIGHT: 34px
}
#myFangkeHiddenLayer {
	BORDER-BOTTOM: #fff5bf 1px solid; POSITION: absolute; BORDER-LEFT: #fff5bf 1px solid; WIDTH: 66px; DISPLAY: none; BACKGROUND: #fffbe5; BORDER-TOP: #fff5bf 1px solid; TOP: 23px; BORDER-RIGHT: #fff5bf 1px solid; LEFT: 670px
}
#myFangkeHiddenLayer UL LI {
	MARGIN: 4px 0px 2px 9px
}
.navMain {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 60px
}
.navMain LI {
	TEXT-ALIGN: center; WIDTH: 89px; PADDING-RIGHT: 2px; DISPLAY: inline; BACKGROUND: url(../images/navMainLinkSplit.gif) no-repeat; FLOAT: left; HEIGHT: 34px
}
.navMain LI A {
	LINE-HEIGHT: 39px; WIDTH: 100%; FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; _line-height: 42px
}
.navMain LI A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.navMain LI.linkOn {
	BACKGROUND: url(../images/navMainLinkOnBg.gif) no-repeat; MARGIN-LEFT: -2px
}
.navMain LI.linkOn A {
	COLOR: #000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navMain LI.linkOn A:hover {
	COLOR: #000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navMain .linkOn#firstLink {
	MARGIN-LEFT: 0px
}
#searchBox {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; BACKGROUND: url(../images/searchBoxBg.gif) no-repeat; HEIGHT: 60px; PADDING-TOP: 0px
}
#searchBox #adTop {
	WIDTH: 100px; FLOAT: left; HEIGHT: 58px
}
#searchBox #search {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 11px
}
#searchBox #search #searchForm {
	HEIGHT: 40px
}
#searchBox #search #searchForm UL {
	FLOAT: left
}
#searchBox #search #searchForm LI {
	PADDING-LEFT: 6px; WIDTH: 83px; DISPLAY: inline; BACKGROUND: url(../images/searchItemBg.gif) no-repeat left top; FLOAT: left; HEIGHT: 30px; MARGIN-RIGHT: 8px; PADDING-TOP: 7px
}
#searchBox #search #searchForm LI.saleBg {
	PADDING-LEFT: 6px; WIDTH: 93px; DISPLAY: inline; BACKGROUND: url(../images/searchItemBg.gif) no-repeat 0px -30px; FLOAT: left; HEIGHT: 30px; MARGIN-RIGHT: 8px; PADDING-TOP: 7px
}
#searchBox #search #searchForm LI.rentBg {
	PADDING-LEFT: 6px; WIDTH: 107px; DISPLAY: inline; BACKGROUND: url(../images/searchItemBg.gif) no-repeat 0px -60px; FLOAT: left; HEIGHT: 30px; MARGIN-RIGHT: 8px; PADDING-TOP: 7px
}
#searchBox #search #searchForm LI SPAN {
	POSITION: absolute; MARGIN: 0px
}
#searchBox #search #searchForm LI SPAN SELECT {
	MARGIN: -1px
}
#searchBox #search #searchForm #keyWordLeftBg {
	WIDTH: 3px; BACKGROUND: url(../images/searchKeyWordBg.gif) repeat-x left top; FLOAT: left; HEIGHT: 30px
}
#searchBox #search #searchForm #keyWordBg {
	BACKGROUND: url(../images/searchKeyWordBg.gif) repeat-x left bottom; FLOAT: left; HEIGHT: 24px; PADDING-TOP: 6px
}
#searchBox #search #searchForm #keyWordRightBg {
	WIDTH: 3px; BACKGROUND: url(../images/searchKeyWordBg.gif) repeat-x right top; FLOAT: left; HEIGHT: 30px
}
#searchBox #search #searchForm #keyWordBg INPUT {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #999; FONT-SIZE: 14px; PADDING-TOP: 1px
}
#searchBox #search #searchForm #searchBtn {
	FLOAT: left
}
#searchBox #search #searchForm #searchBtn INPUT {
	WIDTH: 72px; BACKGROUND: url(../images/searchBtn.gif) no-repeat; LETTER-SPACING: 1px; HEIGHT: 30px; COLOR: #000; MARGIN-LEFT: -1px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#searchBox #search #searchForm #searchHelp {
	FLOAT: left; MARGIN-LEFT: 8px
}
#searchBox #search #searchForm #searchHelp P {
	MARGIN-BOTTOM: 2px
}
#searchBox #search #searchHot {
	MARGIN-TOP: 10px; FLOAT: left; CLEAR: left
}
#searchBox #search #searchHot UL LI {
	FLOAT: left; MARGIN-RIGHT: 5px
}
#searchBox #search #searchHot .searchHotTitle {
	FONT-WEIGHT: bold
}
#main {overflow:hidden;
	MARGIN-TOP: 10px; WIDTH: 730px; FLOAT: left
}
.footer {clear:both;
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; LINE-HEIGHT: 21px; MARGIN: 30px auto 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: none; HEIGHT: 60px; BORDER-TOP: #bababa 1px solid; PADDING-TOP: 15px
}
#box {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 990px; FLOAT: none
}
.box {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 990px; FLOAT: none
}
.filter {
	BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; PADDING-BOTTOM: 10px; MARGIN-TOP: 5px; PADDING-LEFT: 10px; WIDTH: 928px; PADDING-RIGHT: 10px; FLOAT: left; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid; PADDING-TOP: 10px
}
.filter UL {
	WIDTH: 100%; MARGIN-BOTTOM: 7px; FLOAT: left; CLEAR: both
}
.filter UL LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline; FLOAT: left; HEIGHT: 11px; MARGIN-RIGHT: 8px; PADDING-TOP: 3px
}
.filter UL LI.filterTarget {
	COLOR: #f60; FONT-WEIGHT: bold; MARGIN-RIGHT: 0px
}
.filter UL LI.linkOn {
	BACKGROUND: #f60
}
.filter UL LI.linkOn A {
	COLOR: #fff; TEXT-DECORATION: none
}
#main .listCtrl {
	WIDTH: 100%; FLOAT: left; HEIGHT: 30px
}
.listCtrl .dataNumShow {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 8px; PADDING-TOP: 4px
}
.listCtrl .numPerPage {
	FLOAT: left; MARGIN-LEFT: 30px
}
.numPerPage SPAN {
	FLOAT: left; PADDING-TOP: 4px
}
.numPerPage UL {
	WIDTH: 72px; FLOAT: left
}
.numPerPage UL LI {
	TEXT-ALIGN: center; PADDING-LEFT: 1px; WIDTH: 18px; BACKGROUND: url(../images/numPerpageBg.gif) left bottom; FLOAT: left; HEIGHT: 15px; MARGIN-RIGHT: 5px; PADDING-TOP: 3px
}
.numPerPage UL LI.linkOn {
	BACKGROUND-POSITION: left top
}
.numPerPage UL LI A:hover {
	TEXT-DECORATION: none
}
.numPerPage UL LI.linkOn A {
	COLOR: #f60; CURSOR: text
}
.listCtrl .order {
	FLOAT: left; MARGIN-LEFT: 30px
}
.order SPAN {
	FLOAT: left; PADDING-TOP: 4px
}
.order SPAN SELECT {
	BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; MARGIN-TOP: -4px; FLOAT: left; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid
}
.listCtrl .pageSplitSmall {
	FLOAT: left; MARGIN-LEFT: 50px
}
.pageSplitSmall LI {
	FLOAT: left; MARGIN-RIGHT: 8px; PADDING-TOP: 4px
}
.pageSplitSmall LI.unClickable {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; WIDTH: 46px; HEIGHT: 15px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
.pageSplitSmall LI.unClickable A {
	COLOR: #ccc; CURSOR: text; TEXT-DECORATION: none
}
.pageSplitSmall LI.clickable {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; WIDTH: 46px; HEIGHT: 15px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
.pageSplitSmall LI.clickable A {
	COLOR: #f60
}
#main .dataListBox {
	WIDTH: 730px; FLOAT: left
}
.dataListBox TABLE.tHead {
	BORDER-BOTTOM: #fc6 1px solid; BORDER-LEFT: #fc6 1px solid; WIDTH: 100%; BACKGROUND: #ffd; FLOAT: left; HEIGHT: 26px; BORDER-TOP: #fc6 1px solid; BORDER-RIGHT: #fc6 1px solid
}
.dataListBox TABLE.tHead TD {
	TEXT-ALIGN: center; COLOR: #000; PADDING-TOP: 3px
}
.dataListBox TABLE.tBody {
	WIDTH: 100%; FLOAT: left
}
.dataListBox TABLE.tBody TR {
	BACKGROUND: url(../images/dotBg.gif) repeat-x left bottom
}
.dataListBox TABLE.tBody TR.mouseOver {
	BACKGROUND: #f3f3f3
}
.dataListBox TABLE.tBody TD {
	TEXT-ALIGN: center; HEIGHT: 120px; COLOR: #000
}
.dataListBox TABLE.tBody TD .thumbnail {
	BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 100px; PADDING-RIGHT: 1px; DISPLAY: block; HEIGHT: 80px; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid; PADDING-TOP: 1px
}
.dataListBox TABLE.tBody TD.tdAlignLeft {
	TEXT-ALIGN: left; PADDING-LEFT: 5px
}
.dataListBox TABLE.tBody TD A {
	TEXT-DECORATION: underline
}
.dataListBox TABLE.tBody TD P {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.ware_list_top1 UL LI {
	MARGIN-TOP: 1px; PADDING-LEFT: 4px; DISPLAY: inline; BACKGROUND: url(../images/list_16.jpg) no-repeat 0px -52px; FLOAT: left; HEIGHT: 25px; CURSOR: pointer; MARGIN-RIGHT: 7px
}
.dataListBox TABLE.tBody TD P {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.pageMore {
	MARGIN-TOP: 10px; WIDTH: 100%; FLOAT: none
}
.pageMore UL {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.ware_list_top1 UL LI SPAN {
	LINE-HEIGHT: 25px; PADDING-LEFT: 4px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/list_16.jpg) no-repeat right -77px; FLOAT: left; HEIGHT: 25px; COLOR: #333
}
.pageMore {
	MARGIN-TOP: 10px; WIDTH: 100%; FLOAT: none
}
.pageMore UL {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.pageMore UL LI {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; FONT-FAMILY: verdana,arial,"宋体"; FLOAT: left; COLOR: #999; MARGIN-LEFT: 5px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.pageMore UL LI SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FLOAT: left; HEIGHT: 15px; PADDING-TOP: 2px
}
.pageMore UL LI A {
	FLOAT: left; COLOR: #666
}
.pageMore UL LI A SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 15px; CURSOR: pointer; PADDING-TOP: 2px
}
.pageMore UL LI.linkOn A {
	COLOR: #f90; TEXT-DECORATION: none
}
.pageMore UL LI A:hover {
	BACKGROUND: #f90; COLOR: #fff; TEXT-DECORATION: none
}
#box #rightBox {overflow:hidden;
	WIDTH: 240px; FLOAT: right; MARGIN-LEFT: 15px
}
#rightBox .ad205_64 {
	MARGIN-TOP: 10px
}
#rightBox .recRight {
	MARGIN-TOP: 10px; WIDTH: 100%
}
.recRight .recTitleBox {
	WIDTH: 100%; BACKGROUND: url(../images/rightHouseRecTitleBg.gif) no-repeat; HEIGHT: 20px; PADDING-TOP: 5px
}
.recRight .recTitleBox SPAN.recTitle {
	FLOAT: left; COLOR: #333; MARGIN-LEFT: 10px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.recRight .recTitleBox SPAN.more {
	MARGIN-TOP: 2px; DISPLAY: inline; FLOAT: right; MARGIN-RIGHT: 5px
}
.recRight .recTitleBox SPAN.more A {
	COLOR: #333
}
.recRight .recListBox {
	BORDER-BOTTOM: #fc6 1px solid; BORDER-LEFT: #fc6 1px solid; WIDTH: 203px; BORDER-RIGHT: #fc6 1px solid
}
.recListBox UL.houseRecList {
	PADDING-BOTTOM: 5px; MARGIN: 2px 4px; PADDING-LEFT: 4px; WIDTH: 191px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/dotBg.gif) repeat-x left bottom; PADDING-TOP: 3px
}
.recListBox UL.mouseOver {
	BACKGROUND: #f6f6f6
}
.recListBox UL.houseRecList LI {
	PADDING-TOP: 4px
}
.recListBox UL.newsRecList {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 10px
}
.recListBox .newsRecList LI {
	MARGIN-BOTTOM: 9px
}
.must {
	PADDING-RIGHT: 5px; FONT-FAMILY: verdana, "宋体", sans-serif; COLOR: #c9620f
}
.cutimg_button {
	WIDTH: 72px; BACKGROUND: url(../images/searchBtn.gif) no-repeat; LETTER-SPACING: 1px; HEIGHT: 30px; COLOR: #000; MARGIN-LEFT: 8px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#top_l {
	POSITION: relative; LINE-HEIGHT: 29px; BACKGROUND: url(../images/i5.jpg) repeat-x left top; HEIGHT: 29px
}
#top_l IMG {
	MARGIN: 12px 8px 0px; DISPLAY: inline; FLOAT: left
}
#top_l P {
	LINE-HEIGHT: normal; MARGIN-TOP: 6px; WIDTH: 175px; ZOOM: 1; BACKGROUND: url(../images/i212.jpg) no-repeat left bottom; FLOAT: left; HEIGHT: 23px; MARGIN-LEFT: 4px; OVERFLOW: hidden
}
#top_l P A {
	TEXT-ALIGN: center; WIDTH: 68px; FLOAT: left; HEIGHT: 15px; PADDING-TOP: 8px
}
#top_l P A.top_l_tab {
	WIDTH: 77px; BACKGROUND: url(../images/i213.gif) no-repeat; COLOR: #f60
}
#top_l P.top_bg2 {
	LINE-HEIGHT: normal; MARGIN-TOP: 6px; WIDTH: 152px; ZOOM: 1; BACKGROUND: url(../images/i213.jpg) no-repeat 50% bottom; FLOAT: left; HEIGHT: 23px; MARGIN-LEFT: 4px; OVERFLOW: hidden
}
#top_l SPAN {
	PADDING-RIGHT: 5px; FLOAT: right
}
.top_l_tag {
	BACKGROUND: url(../images/i6.gif) no-repeat right top
}
.fav_a {
	BACKGROUND: url(../images/i7.gif) no-repeat left 2px; COLOR: #666666
}
.bbs_a {
	BACKGROUND: url(../images/i8.gif) no-repeat left top; COLOR: #666666
}
#top_l A {
	PADDING-LEFT: 5px; TEXT-DECORATION: none
}
#topnav * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#topnav A {
	TEXT-DECORATION: none
}
#topnav .ba {
	COLOR: #333
}
#topnav .oa:link {
	COLOR: #333
}
#topnav .oa:visited {
	COLOR: #333
}
#topnav .oa:hover {
	COLOR: #f60
}
#topnav {
	BORDER-BOTTOM: #d2d2d2 1px solid; TEXT-ALIGN: center; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #f6f6f6; HEIGHT: 25px
}
#topnav .content {
	MARGIN: auto; WIDTH: 970px; COLOR: #4d4d4d
}
#topnav .content .welcome {
	PADDING-LEFT: 15px; FLOAT: left
}
#topnav .content .ba {
	COLOR: #333
}
#topnav .content .ba_s {
	COLOR: #f60
}
#topnav .content .agent {
	PADDING-RIGHT: 20px; FLOAT: right
}
#topnav .content .agent IMG {
	MARGIN: 5px 2px 5px 0px; VERTICAL-ALIGN: middle
}
