#box {
	FLOAT: none; MARGIN: 0px auto; WIDTH: 950px; POSITION: relative
}
#main {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 635px;overflow:hidden;
}
.adMain {overflow:hidden;
	WIDTH: 100%; HEIGHT: 100px
}
.adMain1 {
	WIDTH: 100%; HEIGHT: 80px
}
.adMain2 {
	WIDTH: 100%; HEIGHT: 120px
}
.adMain UL.adMainNav {
	RIGHT: 10px; BOTTOM: 5px; POSITION: absolute
}
.adMain UL.adMainNav LI {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 5px
}
.adMain UL.adMainNav LI SPAN {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.adMain UL.adMainNav LI SPAN A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 1px
}
.adMain UL.adMainNav LI SPAN A:hover {
	TEXT-DECORATION: none
}
.adMain UL.adMainNav LI SPAN.linkOn {
	BORDER-LEFT-COLOR: #f90; BORDER-BOTTOM-COLOR: #f90; BORDER-TOP-COLOR: #f90; BORDER-RIGHT-COLOR: #f90
}
.adMain UL.adMainNav LI SPAN.linkOn A {
	COLOR: #f90
}
#fangkeNotice {
	MARGIN-TOP: 5px; WIDTH: 100%; HEIGHT: 25px
}
#fangkeNotice #fangkeNoticeTitle {
	PADDING-LEFT: 11px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/fangkeNoticeTitleBg.gif) no-repeat; FLOAT: left; WIDTH: 77px; PADDING-TOP: 6px; HEIGHT: 19px
}
#fangkeNotice #fangkeNoticeCont {
	BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; FLOAT: left; WIDTH: 546px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 23px
}
#fangkeNotice #fangkeNoticeCont UL LI {
	PADDING-LEFT: 6px; BACKGROUND: url(../images/listStyleIconAngle.gif) no-repeat; FLOAT: left; MARGIN: 5px 10px auto 5px
}
#h1 {
	FONT-SIZE: 12px
}
.switchContBox {
	FLOAT: left; WIDTH: 635px; _float: none
}
.switchContBox .switchContBoxTitle LI {
	FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 5px; HEIGHT: 25px
}
.switchContBox .switchContBoxTitle LI A {
	PADDING-LEFT: 16px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/titleBarBgSquare.gif) left -25px; FLOAT: left; COLOR: #000; LINE-HEIGHT: 28px; _line-height: 30px
}
.switchContBox .switchContBoxTitle LI A SPAN {
	PADDING-RIGHT: 16px; BACKGROUND: url(../images/titleBarBgSquare.gif) right -25px; FLOAT: left; CURSOR: pointer; HEIGHT: 25px
}
.switchContBox .switchContBoxTitle LI.linkOn A {
	BACKGROUND-POSITION: left top; CURSOR: text; COLOR: #fff; TEXT-DECORATION: none
}
.switchContBox .switchContBoxTitle LI.linkOn A SPAN {
	BACKGROUND-POSITION: right top; CURSOR: text
}
.switchContBox .houseRecSale {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #f99f0a 1px solid; FLOAT: left; BORDER-LEFT: #f99f0a 1px solid; WIDTH: 660px; BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM: #f99f0a 1px solid; HEIGHT: 350px
}
.switchContBox .houseRecSale UL LI {
	DISPLAY: inline; FLOAT: left; MARGIN: 15px 19px auto
}
.switchContBox .houseRecSale UL LI SPAN {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; BORDER-LEFT: #bababa 1px solid; WIDTH: 112px; PADDING-TOP: 1px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 84px
}
.switchContBox .houseRecSale UL LI P {
	CLEAR: both; MARGIN-TOP: 8px; FLOAT: none; LINE-HEIGHT: 140%
}
.switchContBox #houseClassifyCont {
	BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #bababa 1px solid; WIDTH: 660px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 357px
}
.switchContBox #houseClassifyCont .houseClassifyContCommon {
	MARGIN-TOP: -3px; PADDING-LEFT: 19px; BACKGROUND: url(../images/dotBg.gif) repeat-x left top; FLOAT: left; PADDING-BOTTOM: 14px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 16px; WHITE-SPACE: nowrap; HEIGHT: 93px
}
.switchContBox .houseClassifyContCommon H1 {
	FONT-SIZE: 14px
}
.switchContBox .houseClassifyContCommon .houseClassifyLeft {
	MARGIN-TOP: 13px; DISPLAY: inline; FLOAT: left; WIDTH: 260px
}
.switchContBox .houseClassifyContCommon .houseClassifyLeft UL LI {
	DISPLAY: inline; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 7px
}
.switchContBox .houseClassifyContCommon .houseClassifyRight {
	MARGIN-TOP: 8px; FLOAT: left; MARGIN-LEFT: 25px; WIDTH: 329px
}
.switchContBox .houseClassifyContCommon .houseClassifyRight TABLE {
	WIDTH: 95%
}
.switchContBox .houseClassifyContCommon .houseClassifyRight TABLE TR TD {
	LINE-HEIGHT: 200%; WHITE-SPACE: normal
}
.switchContBox .houseClassifyContCommon .houseClassifyRight TABLE TR TD SPAN {
	FONT-SIZE: 9px; COLOR: #999; FONT-FAMILY: Arial
}
#main #adMainLeftBottom {
	MARGIN-TOP: 10px; FLOAT: none; WIDTH: 670px; HEIGHT: 80px
}
#main #adMainRightBottom1 {
	MARGIN-TOP: 10px; FLOAT: none; WIDTH: 260px; HEIGHT: 80px
}
#main #adMainRightBottom2 {
	MARGIN-TOP: 10px; FLOAT: none; WIDTH: 260px; HEIGHT: 120px
}
#box #right {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 300px;overflow:hidden;
}
#right .leftContBox {
	WIDTH: 300px
}
#houseDataBox .houseDataBgTop {
	BACKGROUND: url(../images/houseDataBg.gif) no-repeat left top; WIDTH: 100%; HEIGHT: 2px
}
#houseDataBox #houseData {
	BORDER-RIGHT: #bababa 1px solid; FLOAT: left; OVERFLOW: visible! important; BORDER-LEFT: #bababa 1px solid; WIDTH: 298px; POSITION: relative
}
#houseData #houseDataMain {
	MARGIN-TOP: 10px; FLOAT: left
}
#houseDataMain LI {
	FLOAT: left; WIDTH: 98px; HEIGHT: 46px; TEXT-ALIGN: center
}
#houseDataMain LI P {
	LINE-HEIGHT: 180%
}
#houseDataMain .houseDataMainSplit {
	BACKGROUND: url(../images/houseDataMainSplitBg.gif) no-repeat; WIDTH: 1px
}
#houseData #houseDataSub {
	CLEAR: both; MARGIN-TOP: 10px; FLOAT: none
}
#houseDataSub LI {
	FLOAT: left; WIDTH: 98px; TEXT-ALIGN: center
}
#houseData #houseDataButton {
	MARGIN-TOP: 10px; FLOAT: left
}
#houseDataButton LI {
	DISPLAY: inline; BACKGROUND: url(../images/houseDataButton.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN-LEFT: 8px; WIDTH: 88px; PADDING-TOP: 7px; HEIGHT: 25px; TEXT-ALIGN: center
}
#houseDataButton LI A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
#houseDataBox .houseDataBgBottom {
	BACKGROUND: url(../images/houseDataBg.gif) no-repeat left -2px; FLOAT: left; WIDTH: 100%; HEIGHT: 2px
}
#right #brokerRecBox #brokerRecTitleBar {
	MARGIN-TOP: 10px; BACKGROUND: url(../images/brokerRecTitleBg.gif) no-repeat; WIDTH: 260px; HEIGHT: 26px
}
#right #newhouseBox #brokerRecTitleBar {
	MARGIN-TOP: 10px; BACKGROUND: url(../images/brokerRecTitleBg.gif) no-repeat; WIDTH: 260px; HEIGHT: 26px
}
#brokerRecTitleBar .brokerRecTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; MARGIN: 7px auto auto 10px
}
#brokerRecTitleBar .brokerRecTakePart {
	FLOAT: right; MARGIN: 7px 0px auto auto
}
#brokerRecBox #brokerRecContBox {overflow:hidden;
	BORDER-RIGHT: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; WIDTH: 258px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 350px
}
#newhouseBox #brokerRecContBox {overflow:hidden;
	BORDER-RIGHT: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; WIDTH: 258px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 403px
}
#brokerRecContBox .brokerRecContList {
	FLOAT: none; PADDING-TOP: 5px; _float: left
}
#brokerRecContBox .brokerRecContList .brokerRecPhoto {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: auto 10px; BORDER-LEFT: #bababa 1px solid; WIDTH: 60px; PADDING-TOP: 1px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 72px
}
#brokerRecContBox .brokerRecContList .newhousePhoto {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: auto 10px; BORDER-LEFT: #bababa 1px solid; WIDTH: 100px; PADDING-TOP: 1px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 80px
}
#brokerRecContBox .brokerRecContList .brokerRecProfile UL {
	FLOAT: left
}
#brokerRecContBox .brokerRecContList .brokerRecProfile UL LI {
	MARGIN-BOTTOM: 4px
}
#brokerRecContBox .brokerRecContList .newhouseProfile UL LI {
	MARGIN-BOTTOM: 6px
}
#fangkeNews .fangkeNewsContBox {
	CLEAR: both; BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; FLOAT: left; BORDER-LEFT: #bababa 1px solid; WIDTH: 298px; BORDER-BOTTOM: #bababa 1px solid
}
.fangkeNewsContBox UL {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 1px; PADDING-TOP: 10px
}
.fangkeNewsContBox UL LI {
	MARGIN-BOTTOM: 9px
}
#houseRequired .houseRequiredContBox {
	CLEAR: both; BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; FLOAT: left; BORDER-LEFT: #bababa 1px solid; WIDTH: 298px; BORDER-BOTTOM: #bababa 1px solid
}
.houseRequiredContBox UL {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 1px; PADDING-TOP: 10px
}
.houseRequiredContBox UL LI {
	MARGIN-BOTTOM: 9px
}
#right #adMainRightBottom {
	MARGIN-TOP: 10px; FLOAT: none; WIDTH: 635px; HEIGHT: 60px
}
#requirePost {
	BORDER-RIGHT: #fc6 1px solid; BORDER-TOP: #fc6 1px solid; DISPLAY: none; BACKGROUND: #ffd; LEFT: 202px; BORDER-LEFT: #fc6 1px solid; WIDTH: 82px; BORDER-BOTTOM: #fc6 1px solid; POSITION: absolute; TOP: 115px
}
#requirePost UL LI {
	MARGIN: 5px 0px 5px 18px
}
#requirePost UL LI A {
	COLOR: #000
}
.pingGuBox {
	MARGIN-TOP: 10px; WIDTH: 950px; HEIGHT: 233px
}
.pingGuLeft {
	FLOAT: left; WIDTH: 507px
}
.titleBar {
	BACKGROUND: url(../images/pgIndexTopBar.gif) no-repeat; WIDTH: 100%; HEIGHT: 48px
}
.leftBg {
	BACKGROUND: url(../images/pgIndexLeftBg.gif) no-repeat; WIDTH: 100%; POSITION: relative; HEIGHT: 185px
}
.leftBg P {
	FONT-SIZE: 14px; MARGIN: 18px 0px 0px 25px; COLOR: #333; FONT-FAMILY: "ו", sans-serif
}
.leftBg P SPAN.itemTitle {
	FONT-WEIGHT: bold
}
.leftBg P SPAN INPUT {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; COLOR: #999; PADDING-TOP: 3px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 17px
}
.pingGuRight {
	FLOAT: left; WIDTH: 443px
}
.pgHelp {
	MARGIN-TOP: 11px; FLOAT: left; MARGIN-LEFT: 15px
}
.numTip {
	MARGIN-TOP: 6px; FONT-WEIGHT: bold; FONT-SIZE: 16px; FLOAT: right; COLOR: #000; FONT-FAMILY: "ו", sans-serif; HEIGHT: 27px
}
.reportList {
	FLOAT: none; WIDTH: 100%
}
TABLE.recList {
	WIDTH: 100%
}
TABLE.recList THEAD {
	BACKGROUND: #e5e5e5; HEIGHT: 30px
}
TABLE.recList TD SPAN.leftPadding {
	PADDING-LEFT: 5px
}
TABLE.recList TBODY TR TD {
	BACKGROUND: url(../images/dotBg.gif) repeat-x left bottom; HEIGHT: 28px
}
.pgBtn {
	RIGHT: 40px; BOTTOM: 10px; POSITION: absolute
}
.pgBtn INPUT {
	BACKGROUND: url(../images/pgIndexBtn.gif) no-repeat; WIDTH: 78px; HEIGHT: 32px
}
.communityMainRecBox {
	BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; MARGIN-TOP: 10px; FLOAT: left; BORDER-LEFT: #bababa 1px solid; WIDTH: 330px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 288px
}
.youqing {
	BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: #bababa 1px solid; WIDTH: 948px; BORDER-BOTTOM: #bababa 1px solid
}
.youqing .communityMainRecTitleBox {
	BACKGROUND: url(../images/barDotBg.gif) repeat-x; WIDTH: 100%; HEIGHT: 27px
}
.communityMainRecBox .communityMainRecTitleBox {
	BACKGROUND: url(../images/barDotBg.gif) repeat-x; WIDTH: 100%; HEIGHT: 27px
}
.communityMainRecTitleBox .communityMainRecTitle {
	MARGIN-TOP: 6px; FLOAT: left; MARGIN-LEFT: 8px
}
.communityMainRecTitleBox .communityMainRecMore {
	MARGIN-TOP: 6px; FLOAT: right; MARGIN-RIGHT: 8px
}
.communityMainRecBox .communityMoreLink {
	MARGIN: 5px auto 10px 20px
}
.floatRight {
	FLOAT: right
}
.newHouseListBox {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.links_tit {clear:both;
	BACKGROUND: url(../images/links.jpg) no-repeat left top; OVERFLOW: hidden; LINE-HEIGHT: 31px; ZOOM: 1; HEIGHT: 31px
}
.t_style {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-LEFT: 19px; COLOR: #ff6600
}
.links_c {clear:both;
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; ZOOM: 1
}
.links_c P {
	MARGIN-TOP: 6px; MARGIN-LEFT: auto; WIDTH: 98%; LINE-HEIGHT: 18px; MARGIN-RIGHT: auto
}
.dc_friend_link P {
	MARGIN-TOP: 6px; MARGIN-LEFT: auto; WIDTH: 98%; LINE-HEIGHT: 18px; MARGIN-RIGHT: auto
}
.links_yd P {
	MARGIN-TOP: 6px; MARGIN-LEFT: auto; WIDTH: 98%; LINE-HEIGHT: 18px; MARGIN-RIGHT: auto
}
.links_c P A {
	COLOR: #666666
}
.links_yd P A {
	COLOR: #666666
}
.links_c UL {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: 6px; OVERFLOW: hidden; ZOOM: 1
}
.dc_friend_link UL {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: 6px; OVERFLOW: hidden; ZOOM: 1
}
.links_c UL LI {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 8px
}
.r_tit {
	BACKGROUND: url(../images/i32.jpg) no-repeat left top; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.r_tit SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 90px; COLOR: #ff6600; TEXT-ALIGN: center
}
.b_r2_body {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #cccccc 1px solid; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP-COLOR: #cccccc; BORDER-BOTTOM: #cccccc 1px solid
}
.b_r2_body1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 12px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid
}
.r_body3 A {
	COLOR: #333333
}
.r_body1_ul {
	MARGIN-TOP: 14px; MARGIN-LEFT: 12px; OVERFLOW: hidden
}
.r_body1_ul LI {
	DISPLAY: inline; BACKGROUND: url(../images/i33.jpg) no-repeat left top; FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 72px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
.r_body1_ul2 {
	MARGIN-LEFT: 14px; OVERFLOW: hidden; MARGIN-RIGHT: 10px; ZOOM: 1
}
.r_body1_ul2 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/i34.jpg) no-repeat left center; LINE-HEIGHT: 26px; HEIGHT: 26px
}
.r_body3_ul {
	MARGIN-TOP: 12px; MARGIN-LEFT: 8px; OVERFLOW: hidden; ZOOM: 1
}
.r_body3_ul LI {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 9px; WIDTH: 102px; MARGIN-RIGHT: 8px; PADDING-TOP: 11px
}
.r_body3_ul LI IMG {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.r_body3_ul LI P {
	BACKGROUND: #ff9a02; LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: center
}
.r_body3_ul LI P A {
	COLOR: white
}
.r_more {
	DISPLAY: inline; FLOAT: right; COLOR: #333333; MARGIN-RIGHT: 7px
}
.b_r3_body {
	MARGIN-TOP: 10px; POSITION: relative; HEIGHT: 120px
}
.b_r3_body DIV {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 160px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: 118px
}
.b_r3_first {
	BACKGROUND: url(../images/i28.jpg) no-repeat left top
}
.b_r3_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LEFT: 6px; WIDTH: 150px; COLOR: #ff6600; TEXT-INDENT: 5px; LINE-HEIGHT: 24px; POSITION: absolute; TOP: 5px; HEIGHT: 24px
}
.b_r3_des {
	LEFT: 11px; POSITION: absolute; TOP: 32px
}
.b_r3_a1 {
	LEFT: 11px; POSITION: absolute; TOP: 64px
}
.b_r3_a2 {
	LEFT: 11px; POSITION: absolute; TOP: 80px
}
.b_r3_a3 {
	LEFT: 11px; POSITION: absolute; TOP: 96px
}
.b_r3_sec {
	BACKGROUND: url(../images/i29.jpg) no-repeat left top; LEFT: 170px
}
.b_r3_thd {
	BACKGROUND: url(../images/i30.jpg) no-repeat left top; LEFT: 341px
}
.b_r3_four {
	BACKGROUND: url(../images/i31.jpg) no-repeat left top; LEFT: 508px
}
.b_r2_bh1 {
	HEIGHT: 341px
}
.b_r2_bh1 IMG {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid
}
.b_r2_bh1 UL P {
	MARGIN-TOP: 5px; LINE-HEIGHT: 16px
}
.b_r2_bh1 UL P SPAN {
	COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.b_r2_bh1 UL {
	MARGIN-TOP: 16px; OVERFLOW: hidden
}
.b_r2_bh1 UL LI {
	DISPLAY: inline; FLOAT: left; MARGIN-BOTTOM: 14px; MARGIN-LEFT: 25px; WIDTH: 124px; MARGIN-RIGHT: 20px
}
.b_r2_bh2 {
	POSITION: relative; HEIGHT: 150px
}
.b_r2_chuzu {
	MARGIN-TOP: 14px; MARGIN-LEFT: 26px; WIDTH: 124px
}
.b_r2_chuzu IMG {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid
}
.b_r2_chuzu P {
	MARGIN-TOP: 4px; LINE-HEIGHT: 18px
}
.b_r2_chuzu P SPAN {
	COLOR: #ff6600
}
.b_r2_chuzu P SPAN B {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.b_r2_bh2 TABLE {
	WIDTH: 320px
}
.b_r2_bh2 TABLE TD {
	TEXT-INDENT: 4px; LINE-HEIGHT: 27px; BORDER-BOTTOM: #cccccc 1px dashed; HEIGHT: 29px
}
.b_r2_bh2 TABLE TH {
	FONT-WEIGHT: normal; TEXT-INDENT: 4px; LINE-HEIGHT: 27px; HEIGHT: 29px
}
.b_r2_bh2 TABLE A {
	COLOR: #666666
}
.b_r2_bh2 TABLE A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.serachbox {overflow:hidden;
	BACKGROUND: url(../images/spane-bg3.jpg) no-repeat left top; WIDTH: 668px; HEIGHT: 146px
}
.serachbox .serachbox_1 {
	MARGIN: 18px
}
.serachbox .serachbox_1 A {
	COLOR: #03f
}
.serachbox .serachtj {
	OVERFLOW: hidden; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.serachbox .serachtj .serachtj_s {
	DISPLAY: inline; MARGIN-LEFT: 10px; WIDTH: 70px
}
.serachbox .serachbtn {
	BACKGROUND: url(../images/indexicon_100301.gif) no-repeat left -160px; WIDTH: 110px; CURSOR: pointer; HEIGHT: 27px
}
.serachbox .serachtext {
	BORDER-RIGHT: #093 1px solid; BORDER-TOP: #093 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; BORDER-LEFT: #093 1px solid; WIDTH: 350px; COLOR: #999; LINE-HEIGHT: 25px; BORDER-BOTTOM: #093 1px solid; HEIGHT: 25px
}
div.serachbox .serachsel{overflow:visible;}
.serachbox .serachsel {
	BORDER-RIGHT: #093 1px solid; BORDER-TOP: #093 1px solid; BACKGROUND: #fff; FLOAT: left; MARGIN: 0px 4px 0px 0px; BORDER-LEFT: #093 1px solid; WIDTH: 79px; BORDER-BOTTOM: #093 1px solid; POSITION: relative
}
DIV.trigger {
	LEFT: 10px; WIDTH: 74px; POSITION: relative; TOP: 2px
}
DIV.trigger .current_option {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(../images/indexicon_100301.gif) no-repeat 45px -630px; WIDTH: 64px; CURSOR: pointer; COLOR: #000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 26px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
DIV .dropdown {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: none; Z-INDEX: 100; LEFT: -1px; BORDER-LEFT: #ccc 1px solid; WIDTH: 79px; CURSOR: pointer; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 26px; BACKGROUND-COLOR: white
}
DIV .dropdown TD:hover {
	BACKGROUND: #eee; CURSOR: pointer
}
DIV .dropdown .item {
	DISPLAY: block; PADDING-LEFT: 10px; COLOR: #0041d9; TEXT-DECORATION: none
}
DIV .dropdown .selected {
	DISPLAY: block; PADDING-LEFT: 10px; COLOR: black; TEXT-DECORATION: none
}
DIV .dropdown .list_item {
	CURSOR: pointer; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 24px
}
DIV .dropdown .list_item A {
	CURSOR: pointer
}
