.ware_list_top1 {
	BORDER-BOTTOM: #fa8a0d 2px solid; HEIGHT: 26px
}
.ware_list_top1 UL {
	FLOAT: left; HEIGHT: 26px
}
.ware_list_top1 UL LI {
	MARGIN-TOP: 1px; PADDING-LEFT: 4px; DISPLAY: inline; BACKGROUND: url(../images/list_16.jpg) no-repeat 0px -52px; FLOAT: left; HEIGHT: 25px; CURSOR: pointer; MARGIN-RIGHT: 7px
}
.ware_list_top1 UL LI SPAN {
	LINE-HEIGHT: 25px; PADDING-LEFT: 4px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/list_16.jpg) no-repeat right -77px; FLOAT: left; HEIGHT: 25px; COLOR: #333
}
.ware_list_top1 UL LI A {
	COLOR: #333
}
.ware_list_top1 UL LI A:hover {
	COLOR: #ff6600
}
.ware_list_top1 UL LI.ware_list_top1_tab {
	MARGIN-TOP: 0px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 26px
}
.ware_list_top1 UL LI.ware_list_top1_tab SPAN {
	LINE-HEIGHT: 26px; BACKGROUND-POSITION: right -26px; HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.ware_list_top1 UL LI.ware_list_top1_tab A {
	COLOR: #fff
}
.ware_list_top1 UL LI.ware_list_tab_other {
	BACKGROUND: url(../images/list_34.jpg) no-repeat
}
.ware_list_top1 UL LI.ware_list_tab_other SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.ware_list_top2 {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND: url(../images/list_9.jpg) repeat-x; HEIGHT: 29px; BORDER-TOP: #ccc 1px; BORDER-RIGHT: #ccc 1px solid
}
.ware_list_top2 P {
	LINE-HEIGHT: 29px; PADDING-LEFT: 13px; FLOAT: left; COLOR: #333
}
.ware_list_top2 P SPAN {
	MARGIN: 0px 6px; COLOR: #ff6600; FONT-WEIGHT: bold
}
.ware_list_top2 DIV {
	FLOAT: right; HEIGHT: 26px
}
.ware_list_top2 DIV A {
	MARGIN-TOP: 6px; PADDING-LEFT: 8px; WIDTH: 43px; DISPLAY: inline; BACKGROUND: url(../images/list_19.jpg) no-repeat; FLOAT: right; HEIGHT: 15px; COLOR: #333; MARGIN-RIGHT: 8px; PADDING-TOP: 4px
}
.ware_list_top2 DIV SELECT {
	MARGIN-TOP: 6px; FLOAT: right; HEIGHT: 19px; MARGIN-RIGHT: 8px
}
.ware_list_top2 DIV SPAN {
	MARGIN-TOP: 10px; FLOAT: right
}
.xq_pic_infor {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 29px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/xq_3.jpg) repeat-x; HEIGHT: 29px; BORDER-TOP: #ccc 1px; BORDER-RIGHT: #ccc 1px solid
}
.ware_list_page {
	LINE-HEIGHT: 20px; FONT-FAMILY: 'Verdana'; FLOAT: right; HEIGHT: 26px
}
.ware_list_page A {
	FLOAT: left; MARGIN-RIGHT: 6px
}
.ware_list_page SPAN {
	FLOAT: left; MARGIN-RIGHT: 6px
}
.ware_list_page_next {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; WIDTH: 51px; BACKGROUND: url(../images/list_18.jpg) no-repeat 43px 5px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.ware_list_page_up {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; WIDTH: 51px; BACKGROUND: url(../images/list_18.jpg) no-repeat 43px 5px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.ware_list_page_up_no {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; WIDTH: 51px; BACKGROUND: url(../images/list_18.jpg) no-repeat 43px 5px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.ware_list_page_next_no {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; WIDTH: 51px; BACKGROUND: url(../images/list_18.jpg) no-repeat 43px 5px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.ware_list_page_up {
	TEXT-ALIGN: right; PADDING-RIGHT: 5px; BACKGROUND: url(../images/list_18_2.jpg) no-repeat 8px 5px
}
.ware_list_page_up_no {
	TEXT-ALIGN: right; PADDING-RIGHT: 5px; BACKGROUND: url(../images/list_18_2.jpg) no-repeat 8px 5px
}
.ware_list_page_up_no {
	BACKGROUND: url(../images/list_17.jpg) no-repeat 8px 5px
}
.ware_list_page_next_no {
	BACKGROUND: url(../images/list_17_2.jpg) no-repeat 43px 5px
}
.pub_r_tit {
	LINE-HEIGHT: 28px; MARGIN-TOP: 10px; ZOOM: 1; BACKGROUND: url(../images/par24.jpg) no-repeat; HEIGHT: 28px; OVERFLOW: hidden
}
.pub_r_tit2 {
	LINE-HEIGHT: 28px; MARGIN-TOP: 10px; ZOOM: 1; BACKGROUND: url(../images/par24.jpg) no-repeat; HEIGHT: 28px; OVERFLOW: hidden
}
.pub_r_tit H3 {
	PADDING-LEFT: 8px; FLOAT: left; COLOR: #333; FONT-SIZE: 14px
}
.pub_r_tit A {
	DISPLAY: inline; FLOAT: right; MARGIN-RIGHT: 10px
}
.pub_r_tit2 A {
	DISPLAY: inline; FLOAT: right; MARGIN-RIGHT: 10px
}
.pub_r_tit .se_1 {
	FONT-SIZE: 14px
}
.pub_r_tit2 {
	BACKGROUND: url(../images/par27.jpg) no-repeat
}
.pub_r_tit2 SPAN {
	TEXT-ALIGN: center; WIDTH: 79px; FLOAT: left; HEIGHT: 28px; COLOR: #333; FONT-SIZE: 14px; CURSOR: pointer
}
.pub_r_tit2 SPAN.pub_r_tit2_tab {
	BACKGROUND: url(../images/par26.gif) no-repeat; COLOR: #ff6600; FONT-WEIGHT: bold
}
.r_list_tab {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px; BORDER-RIGHT: #ccc 1px solid
}
.r_list3 UL {
	PADDING-BOTTOM: 12px; MARGIN: 0px 10px; PADDING-TOP: 5px
}
.r_list3 LI {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: url(../images/i34.jpg) no-repeat left center
}
.r_list3_qz LI {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: url(../images/i34.jpg) no-repeat left center
}
.r_list3_qg LI {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: url(../images/i34.jpg) no-repeat left center
}
.r_list3 LI A {
	COLOR: #666
}
.r_list4_b LI A {
	COLOR: #666
}
.r_list3_qz LI A {
	COLOR: #666
}
.r_list3_qz LI {
	COLOR: #666
}
.r_list3 LI A:hover {
	COLOR: #ff6600
}
.r_list4_b LI A:hover {
	COLOR: #ff6600
}
.r_list3_qz LI A:hover {
	COLOR: #ff6600
}
.r_list3_qg LI A:hover {
	COLOR: #ff6600
}
.r_list3 LI SPAN {
	COLOR: #6c9a00
}
.r_list3 LI SPAN A {
	COLOR: #6c9a00
}
.r_list3_qz SPAN {
	COLOR: #6c9a00
}
.r_list3_qz LI SPAN A {
	COLOR: #6c9a00
}
.r_list3_qg LI SPAN A {
	COLOR: #d8761b
}
.r_list3_qg LI SPAN {
	COLOR: #d8761b
}
.r_list3_qz LI SPAN {
	PADDING-RIGHT: 4px
}
.r_list3_qg LI SPAN {
	PADDING-RIGHT: 4px
}
.r_list4_tu {
	PADDING-BOTTOM: 5px; MIN-HEIGHT: 130px; HEIGHT: auto; PADDING-TOP: 5px
}
.r_list4_tu LI {
	MARGIN-TOP: 8px; WIDTH: 108px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 12px; MARGIN-RIGHT: 4px
}
.r_list4_tu LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.r_list4_tu LI P {
	TEXT-ALIGN: center; HEIGHT: 28px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.r_list4_b LI {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 29px; MARGIN: 0px 10px
}
.r_list4_b {
	PADDING-BOTTOM: 15px
}
.news_f_commend_tit {
	POSITION: relative; PADDING-LEFT: 33px; WIDTH: 260px; BACKGROUND: url(../images/list_13.jpg) no-repeat; HEIGHT: 23px; COLOR: #fe6601; MARGIN-LEFT: -1px; FONT-SIZE: 14px; PADDING-TOP: 15px
}
.news_f_commend {
	BACKGROUND: url(../images/list_14.jpg) no-repeat 50% bottom; HEIGHT: 477px
}
.news_f_commend_bg {
	BORDER-LEFT: #ccc 1px solid; BACKGROUND: #f6f6f6; HEIGHT: 470px; BORDER-RIGHT: #ccc 1px solid
}
.news_f_commend UL {
	ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 5px
}
.news_f_commend LI {
	TEXT-ALIGN: center; WIDTH: 253px; FLOAT: left; HEIGHT: 220px
}
.news_f_commend LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px auto; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
.news_f_commend LI P {
	TEXT-ALIGN: center; HEIGHT: 20px; PADDING-TOP: 12px
}
.news_f_commend LI SPAN {
	FONT-FAMILY: Verdana; COLOR: #ea5f00; FONT-WEIGHT: bold
}
.view_more_f {
	MARGIN: 0px auto; PADDING-LEFT: 9px; WIDTH: 97px; DISPLAY: block; BACKGROUND: url(../images/list_15.jpg) no-repeat; HEIGHT: 15px; COLOR: #fff; PADDING-TOP: 4px
}
.view_more_f:hover {
	COLOR: #fff
}
.ware_list_top2 DIV A.upIcon {
	MARGIN-TOP: 6px; PADDING-LEFT: 8px; WIDTH: 43px; DISPLAY: inline; BACKGROUND: url(../images/list_20.jpg) no-repeat; FLOAT: right; HEIGHT: 15px; COLOR: #333; MARGIN-RIGHT: 8px; PADDING-TOP: 4px
}
.ware_list_top2 DIV A.eshop_upIcon {
	MARGIN-TOP: 6px; PADDING-LEFT: 8px; WIDTH: 53px; DISPLAY: inline; BACKGROUND: url(../images/list_21.jpg) no-repeat; FLOAT: right; HEIGHT: 15px; COLOR: #333; MARGIN-RIGHT: 8px; PADDING-TOP: 4px
}
.xq_list_tit {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND: url(../images/xq_3.jpg) repeat-x; HEIGHT: 29px; BORDER-TOP: #ccc 1px; BORDER-RIGHT: #ccc 1px solid
}
.xq_list_tit SPAN {
	LINE-HEIGHT: 29px; BACKGROUND: url(../images/par10.jpg) no-repeat; FLOAT: left; HEIGHT: 29px
}
.xq_list_tit SPAN.xq_list_tit_1 {
	PADDING-LEFT: 170px; WIDTH: 258px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.xq_list_tit SPAN.xq_list_tit_2 {
	PADDING-LEFT: 15px; WIDTH: 82px; BACKGROUND-POSITION: 0px 12px
}
.xq_list_tit SPAN.xq_list_tit_3 {
	TEXT-ALIGN: center; WIDTH: 116px; BACKGROUND-POSITION: 32px 12px
}
.xq_list_tit SPAN.xq_list_tit_4 {
	PADDING-LEFT: 29px; WIDTH: 52px; BACKGROUND-POSITION: 14px 12px
}
.qz_ware_list_top1 {
	BORDER-BOTTOM: #0080f8 2px solid
}
.qz_ware_list_top1 UL LI {
	BACKGROUND: url(../images/list_35.jpg) no-repeat 0px -52px
}
.qz_ware_list_top1 UL LI SPAN {
	BACKGROUND: url(../images/list_35.jpg) no-repeat right -77px
}
.ware_list_top1 UL LI.ware_list_top1_tab SPAN {
	PADDING-LEFT: 28px; PADDING-RIGHT: 32px
}
.b_r2_title {
	LINE-HEIGHT: 32px; BACKGROUND: url(../images/i25.jpg) no-repeat left -32px; HEIGHT: 32px
}
.top10 {
	MARGIN-TOP: 10px
}
.b_r2_body {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px; BORDER-RIGHT: #cccccc 1px solid
}
.b_r2_bh3 {
	POSITION: relative; HEIGHT: 225px
}
.b_r2_bh3 TABLE {
	WIDTH: 290px; BORDER-COLLAPSE: collapse
}
.b_r2_price {
	POSITION: absolute; WIDTH: 338px; TOP: 22px; LEFT: 14px
}
.b_r2_price SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; DISPLAY: block; COLOR: #333333
}
.b_r2_price SPAN A {
	COLOR: #333333
}
.b_r2_price SPAN A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.b_r2_sch {
	POSITION: absolute; LINE-HEIGHT: 35px; PADDING-LEFT: 7px; WIDTH: 283px; BACKGROUND: url(../images/i27.jpg) no-repeat left top; HEIGHT: 35px; COLOR: #333333; TOP: 12px; LEFT: 373px
}
.b_r2_sch .schtxt {
	BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 19px; WIDTH: 111px; HEIGHT: 19px; COLOR: #999999; BORDER-TOP: #cccccc 1px solid; TOP: 6px; BORDER-RIGHT: #cccccc 1px solid; LEFT: 77px
}
.b_r2_sch .schbtn {
	POSITION: absolute; TOP: 5px; LEFT: 198px
}
.t_more {
	DISPLAY: inline; FLOAT: right; COLOR: #666666; MARGIN-RIGHT: 17px
}
.t_style {
	COLOR: #ff6600; MARGIN-LEFT: 19px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.org_a {
	COLOR: #ff6600
}
.tab1 {
	POSITION: absolute; TOP: 61px; LEFT: 373px
}
.tab1 TH {
	LINE-HEIGHT: 24px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 22px; BACKGROUND: #fff5e3; HEIGHT: 24px; COLOR: #333333; FONT-WEIGHT: normal
}
.th1 {
	WIDTH: 128px
}
.th2 {
	TEXT-ALIGN: right; WIDTH: 90px
}
.th3 {
	TEXT-ALIGN: right; PADDING-RIGHT: 4px
}
.tab2 TD {
	LINE-HEIGHT: 22px; TEXT-INDENT: 5px; HEIGHT: 22px
}
.tab2 {
	POSITION: absolute; TOP: 101px; LEFT: 373px
}