/* CommonFont */
.familyAlpha { font-family:verdana, "宋体", sans-serif; }
.familyArial { font-family:Arial; }
.weightBold { font-weight:bold; }
.size10px { font-size:10px; }
.size14px { font-size:14px; }
.size16px { font-size:16px; }
.size18px { font-size:18px; }
.size24px { font-size:24px; }
.color000 { color:#000; }
.color333 { color:#333; }
.color999 { color:#999; }
.colorC00 { color:#c00; }
.colorF90 { color:#f90; }
.colorF60 { color:#f60; }
.color690 { color:#690; }

/* Member common */
* { padding:0; margin:0; }
div { float:left; overflow:hidden; position:relative;overflow: visible}
.edui-dialog div{position: relative;float: none}
body{ font-size:12px; font-family:"宋体", sans-serif; }
.main{width:1007px; float:none;}
input, textarea, select{cursor:pointer;}
.input, .textarea, .inputFile, .select{border:1px solid #bbb; margin-left:8px; }
.input { height:15px; padding:2px 4px 2px; }
.txtarea { padding:4px;}
ul, li { list-style:none; }
a { color:#06F; text-decoration:none; }
a:hover { color:#f90; text-decoration:underline; }
a img { border:0; }
.f90 { color:#f90!important; }
.font14px {font-size:14px;}
.fontBold {font-weight:bold;}
.underline {text-decoration:underline;}
.alphaFontFamily{ font-family:verdana, Arial, "宋体", sans-serif;}

.main { float:none; width:1007px; margin:0 auto; }

/* header */
.header { width:100%; height:80px; background:url(../images/pageBgk.gif) repeat-x left bottom; }
.header_Logo { width:330px; height:34px; display:block; margin-top:15px; margin-left:25px; background:url(../images/logo.gif) no-repeat; }
.header_Link { position:absolute; top:10px; right:20px; }
.header_Link li { float:left; padding-left:8px; }
.header_Link li a { color:#2b7ccd;}
.header_Link li a:hover { color:#f90;}
.header_Nav { position:absolute; top:48px; right:15px; }
.header_Nav li { height:27px; overflow:hidden; float:left; margin-right:5px; display:inline; }
.header_Nav li a { font-size:14px; color:#000; line-height:28px; _line-height:31px; float:left; padding-left:12px; background:url(../images/btnTab.gif) left -27px; }
.header_Nav li a span { height:27px; float:left; padding-right:12px; cursor:pointer; background:url(../images/btnTab.gif)  right -27px; }
.header_Nav li a:hover, .header_Nav li.linkOn a { color:#fff; text-decoration:none; background-position:top left; }
.header_Nav li a:hover span, .header_Nav li.linkOn a span { background-position:top right; }
.header_Nav li.linkOn a { font-weight:bold; }

/* commonFooter */
.footer { float:left; *float:none; width:1007px; height:60px; line-height:21px; text-align:center; border-top:1px solid #bababa; padding:15px 0 20px; margin:30px auto 0; }

/* LeftNav */
.memberLeftNav { width:200px; margin:10px 10px 0 10px; _display:inline; overflow:hidden; background:url(../images/memberLeftNavBgk.gif) 201px 0; }
.memberLeftNav .title { width:200px; height:60px; background:url(../images/memberLeftNavBgk.gif); }
.memberLeftNav .navList .item { clear:both; padding-left:20px; }
.memberLeftNav .navList li p { width:150px; height:23px; line-height:23px; border:1px solid #b4c91a; display:block; background:url(../images/memberLeftNavItemBgk.gif) repeat-x; text-align:center; font-size:14px; font-weight:bold; color:#660; }
.memberLeftNav .navList li ul li { width:150px; line-height:23px; text-align:center; border:1px solid #CCC; margin-top:5px;}
.memberLeftNav .navList li ul li a { color:#2b7ccd; }
.memberLeftNav .navList li ul li a:hover { color:#f90; }
.memberLeftNav .endLeft { width:200px; height:60px; background:url(../images/memberLeftNavBgk.gif) 402px 0; }

/* RightBox 出售发布|出租发布 */
.memberBox { width:776px; float:left; margin:10px 0 0; }
.bigNote { width:774px; height:30px; margin-top:10px; border:1px solid #fbc393; background:#ffd;}
.bigNote .noteTxt { width:90%; height:30px; background:url(../images/bigNote.gif) no-repeat 0 3px; padding:10px 0 0 30px; margin-left:5px; overflow:hidden; }
.bigNote .closeNote { float:right; margin:9px 5px 0 0; display:inline;}
.memberBoxTab { width:100%; margin-top:10px; border-bottom:2px solid #eee; }
.memberBoxTab ul { width:100%; float:left; border-bottom:1px solid #b4c91a; padding-left:10px; }
.memberBoxTab ul li { height:23px; overflow:hidden; float:left; margin-right:3px }
.memberBoxTab ul li a { font-size:12px; color:#333; line-height:23px; _line-height:25px; float:left; padding-left:10px; background:url(../images/memberTabBgk.gif) top left; }
.memberBoxTab ul li a span { height:23px; float:left; padding-right:10px; cursor:pointer; background:url(../images/memberTabBgk.gif) top right; }
.memberBoxTab ul li a:hover, .memberBoxTab ul li a.linkOn { color:#660; text-decoration:none; background:url(../images/memberTabBgkLinkOn.gif) top left; }
.memberBoxTab ul li a:hover span, .memberBoxTab ul li a.linkOn span { background:url(../images/memberTabBgkLinkOn.gif) top right; }
.memberBoxTab ul li a.linkOn { font-weight:bold; }

.memberBoxTable { width:100%; float:left; margin-top:10px; background:url(../images/memberTableBgk.gif) repeat-x left top; }
.memberBoxTable th { text-align:center; font-size:14px; padding:5px 0; }
.memberBoxTable .concentTitle { font-size:14px; color:#719601; font-weight:bold; padding:10px 0 6px 45px; display:block; background:url(../images/icon05.gif) no-repeat 21px 9px; }
.memberBoxTable tbody td { color:#333; padding:5px 0; border-bottom:1px solid #eee; border-right:1px solid #eee;}
span.must { color:#c9620f; font-family:verdana, "宋体", sans-serif; padding-right:10px; }
.memberBoxTable tbody td p { margin-bottom:8px; }
.memberBoxTable tbody td p.errorMessage {  color:#c9620f; padding-left:13px; margin:0px 8px; background:url(../images/iconNote.gif) no-repeat left top; }
.memberBoxTable tbody .tip { color:#aaa!important; }
.memberBoxTable tbody .row1 { width:15%; text-align:right; padding:8px 10px 0 0; _padding:11px 10px 0 0; }
.memberBoxTable tbody .row2 { width:40%; }
.memberBoxTable tbody .row3 { width:35%; }
.memberBoxTable tbody .br { height:8px; }
.memberBox .submitPromsie {width:100%; text-align:center; color:#666; }
.memberBox .submitBtn { width:99%; padding:15px 0; text-align:center; }
.memberBox .submitBtn input {background:url(../images/memberLeftNavItemBgk.gif) repeat-x; border:1px solid #b4c91a; color:#660; font-size:14px; font-weight:bold; padding:3px 10px; *padding:3px 0 0; }

/* RightBox 出售管理|出租管理 */
.manageSub { width:776px; height:24px; margin:10px auto auto; border-bottom:1px solid #dedede; overflow:visible;}
.manageSubNav { position:absolute; top:1px; right:-5px; }
.manageSubNav li { height:24px; overflow:hidden; float:left; margin-right:5px; display:inline; }
.manageSubNav li a { font-size:12px; color:#000; line-height:26px; _line-height:28px; float:left; padding-left:12px; background:url(../images/manageSubNav.gif) left -24px; }
.manageSubNav li a span { height:24px; float:left; padding-right:12px; cursor:pointer; background:url(../images/manageSubNav.gif)  right -24px; }
.manageSubNav li a:hover, .manageSubNav li.linkOn a { color:#f90; text-decoration:none; background-position:top left; }
.manageSubNav li a:hover span, .manageSubNav li.linkOn a span { background-position:top right; }
.manageSubNav li.linkOn a { font-weight:bold; }

.manageBox { width:764px; height:auto; border-left:1px solid #dedede; border-bottom:1px solid #dedede; border-right:1px solid #dedede; padding:5px; }

.manageBox .houseSearch {float:none; padding:2px; color:#999;}
.manageBox .houseSearch input { color:#999; margin-left:0px; }
.manageBox .houseSearch select { color:#999; margin-left:0px; }
.manageBox .houseSearch .tip { color:#999; margin-left:50px;}
.manageBox .houseList { float:none; }
.manageBox .houseList table { width:100%; margin-top:5px; border:1px solid #ccc; }
.manageBox .houseList .tableTitle { background:#d9d9d9; height:20px; font-size:14px; font-weight:bold; text-align:center; color:#666; }
.manageBox .houseList .tableTitle td { padding-top:5px; }
.manageBox .houseList .tableSubTitle { background:#efefef; height:18px; font-size:12px; font-weight:bold; text-align:center; color:#999; }
.manageBox .houseList .tableSubTitle td { padding-top:2px; }
.manageBox .houseList tbody {text-align:center;}
.manageBox .houseList tbody td { height:26px; *height:24px; padding-top:2px; border-right:1px solid #eee; border-bottom:1px solid #eee; color:#333; }
.listOperation { text-align:left; background:#efefef; padding:5px 5px 0!important; height:25px!important; }
.listOperationBtn{ background:url(../images/memberLeftNavItemBgk.gif) repeat-x; border:1px solid #b4c91a; color:#660; font-size:12px; padding:3px 8px; *padding:3px 0 0; }

.pageMore { float:none; width:100%; margin-top:10px; }
.pageMore ul {float:right; margin-right:10px; *margin-right:5px; }
.pageMore ul li { float:left; font-family:verdana,arial,"宋体"; color:#999; border:1px solid #ccc;  margin-left:5px; }
.pageMore ul li span { float:left; text-align:center; height:15px; padding:2px 6px; }
.pageMore ul li a { float:left; color:#666;}
.pageMore ul li a span { float:left; cursor:pointer; height:15px; text-align:center; padding:2px 5px;}
.pageMore ul li.linkOn a { color:#f90; text-decoration:none;}
.pageMore ul li a:hover {background:#f90; color:#fff; text-decoration:none;}

.note { width:774px; margin-top:10px; border:1px solid #fbc393; background:#ffd;}
.note p { margin:10px; font-size:14px;}
.note ul {margin:10px 10px 10px 35px; }
.note ul li {list-style:decimal; margin-top:5px; color:#666;}

/* 修改头像 */
.tdContCenter {text-align:center};

/* 身份认证 */
.demoImgBorder{border:1px solid #ccc; padding:1px; margin-top:2px;}
/* 系统确认 */
.sysConfirm { width:774px; margin-top:30px; border:1px solid #fc6; background:#ffd;}
.sysConfirm .confirmTxt { width:100%; background:url(../images/sysConfirm.png) no-repeat; padding:15px 0 20px 65px; margin:20px; font-size:16px; font-weight:bold; }
.sysConfirm .confirmTxt p { margin-top:10px; font-size:12px; font-weight:normal; color:#999; }

/* 系统提示 */
.sysNote { width:774px; margin-top:30px; border:1px solid #fc6; background:#ffd;}
.sysNote .noteTxt { width:100%; background:url(../images/errorTip.gif) no-repeat; padding:15px 0 20px 65px; margin:20px; font-size:16px; font-weight:bold; }
.sysNote .noteTxt p { margin-top:10px; font-size:12px; font-weight:normal; color:#999; }

/* 站内信 */
.msgOperationBox { width:776px; height:24px; margin:10px auto auto; border-bottom:1px solid #dedede; overflow:visible;}
.msgOperation { position:absolute; top:1px; left:0; }
.msgOperation li { height:24px; overflow:hidden; float:left; margin-right:5px; display:inline; }
.msgOperation li a { font-size:12px; color:#000; line-height:26px; _line-height:28px; float:left; padding-left:12px; background:url(../images/manageSubNav.gif) left -24px; }
.msgOperation li a span { height:24px; float:left; padding-right:12px; cursor:pointer; background:url(../images/manageSubNav.gif)  right -24px; }
.msgOperation li a:hover, .msgOperation li.linkOn a { color:#f90; text-decoration:none; background-position:top left; }
.msgOperation li a:hover span, .msgOperation li.linkOn a span { background-position:top right; }
.msgOperation li.linkOn a { font-weight:bold; }
.msgTitleLeft { text-align:left; padding-left:5px; }
.msgTable { background:none; }
.msgTable .msgDetail td { padding:8px 10px 7px 0; _padding:10px 10px 8px 0; }
.msgTable .msgDetail .row1 { color:#666; font-weight:bold;}
.msgTable .msgDetail .msgContent { padding:5px; line-height:180%}
.msgTable .msgDetail .msgContent .msgSender { float:right; color:#999; font-family:verdana, "宋体", sans-serif; margin-top:10px; }

/* 我的好友 */
.manageBox .friendsList { float:none; }
.manageBox .friendsList table { width:100%; margin-top:10px; border-bottom:1px solid #ddd;}
.manageBox .friendsList tbody {text-align:center;}
.manageBox .friendsList tbody td { height:62px; *height:60px; padding:2px; color:#666;}
.manageBox .friendsList tbody .rowPhoto { width:50px;}
.manageBox .friendsList tbody .rowName { width:60%; vertical-align:top;}
.manageBox .friendsList tbody td p { text-align:left;}
.manageBox .friendsList tbody td .p1 {margin-top:8px;}
.manageBox .friendsList tbody td .p2 {margin-top:16px;}
.manageBox .friendsList tbody td p span { margin-right:40px;}
.manageBox .friendsList .friendsListExt { background:#F7FFD9;}
.manageBox .friendsList .friendsListExt td { text-align:left; height:25px; padding:0 0 0 56px; color:#690}
.manageBox .friendsList .friendsListExt td span { float:left; width:30%; padding-right:10px;}
.tdContRight{text-align:right; background:#EDF8C5;}
.manageBox .friendsList .friendsLinkIn td { width:33%; }
.manageBox .friendsList .friendsLinkIn td span { float:left; padding-right:5px;}
.manageBox .friendsList .friendsLinkIn td span p { margin-bottom:2px;}

/* 好友邀请 */
.snsInviteInBg { height:17px; width:90px; background:url(../images/snsInviteInBg.gif) no-repeat; padding:3px 0 1px 7px; color:#999; }

/* 委托 */
/* require */
.requireTitle { width:100%; font-size:16px; color:#333; font-weight:bold; padding:6px 10px; background:url(../images/dotBg.gif) repeat-x left bottom; margin-top:10px; }
.loginTip { margin-top:6px; }
.stepTip { margin-top:10px; }
.stepTip ul li { float:left; margin-right:15px; }
.stepTip ul li span { float:left; }
.stepTip ul li span.stepNum { display:block; width:12px; height:16px; color:#fff; padding-left:7px; padding-top:3px; background:url(../images/stepIcon.gif) no-repeat 0 -7px; margin-right:3px; }
.stepTip ul li.linkOn span.stepNum { background-position:0 -34px; }
.stepTip ul li span.stepName { padding-top:5px;}
.stepTip ul li.linkOn span.stepName { color:#f90; }

.requireForm { margin-top:10px; }
.requireForm table { width:100%; }
.requireForm table tr td { padding-bottom:6px; }
#requireMain input.inp { padding:2px; border:1px solid #bababa; }
#requireMain textarea { width:400px; height:100px; font-size:12px; padding:2px; border:1px solid #bababa; }
#requireMain input.btn { background:url(../images/memberLeftNavItemBgk.gif) repeat-x; border:1px solid #b4c91a; color:#660; font-size:14px; font-weight:bold; padding:3px 10px; *padding:3px 0 0; margin-right:10px; cursor:pointer; }

/* filter */
.expertFilter {  width:750px; padding:5px; margin-top:15px; border:1px solid #bababa; }
.expertFilter ul { clear:both; float:left; width:100%; margin-bottom:5px; }
.expertFilter ul li { float:left; height:11px; text-align:center; padding:3px; margin-right:8px; display:inline; }
.expertFilter ul li.filterTarget { color:#f60; font-weight:bold; margin-right:0px; }
.expertFilter ul li.linkOn { background:#f60; }
.expertFilter ul li.linkOn a { color:#fff; text-decoration:none; }

/* expertListBox */
.expertListBox { width:750px; }
.expertListBox ul { width:750px; margin-top:10px; }
.expertListBox ul li { float:left; width:200px; margin-left:40px; border:1px solid #bababa; display:inline; }
.expertListBox ul li.mouseOver { border:1px solid #999; background:#f1f1f1; }
.btnBox { margin-top:20px; }

/* requireList */
.requireDataListBox { width:635px; margin-top:10px; }
.requireDataListBox table.tHead { width:100%; height:26px; border:1px solid #fc6; background:#ffd; }
.requireDataListBox table.tHead td { color:#000; padding-top:3px; text-align:center; }
.requireDataListBox table.tHead td.tdAlignLeft { text-align:left; }
.requireDataListBox table.tBody { width:100%; }
.requireDataListBox table.tBody tr { background:url(../images/dotBg.gif) repeat-x left bottom; }
.requireDataListBox table.tBody td { color:#666; padding-top:15px; padding-bottom:10px; text-align:center; }
.requireDataListBox table.tBody td.tdAlignLeft { text-align:left; }
.requireDataListBox table.tBody tr.mouseOver { background:#f3f3f3; }

.requireListCtrl { margin-top:10px; }
.requireListCtrl .search { float:left; }
.search select { float:left; margin-right:5px; border:1px solid #bababa; }
.search input { float:left; border:1px solid #bababa; }
.search input.text { width:250px; height:17px; color:#999; padding-left:5px; padding-top:2px; }
.search input.button { width:40px; height:21px; padding-top:1px; margin-left:-1px; }


.infoTipBox { float:left; width:100%; padding-top:20px; }
.infoTipBox h4{font-size:16px;margin:0;padding:0px;}
.infoTipBox hr{margin:10px 0;_margin:0;}
.infoTop { margin-top:27px; }
.loginTip { float:none; font-size:18px; font-weight:bold; }
.loginTip span { font-size:12px; font-weight:normal; }
.shopTip { font-size:12px; color:#ccc; font-weight:normal; }
.universityTip { float:none; font-size:14px; font-weight:bold; margin-top:10px; }
ul.infoTip { width:100%; margin-top:10px; }
ul.infoTip li { margin-bottom:5px; }
ul.houseTip { width:100%;clear:both;height:25px;line-height:25px;margin:0px;_margin-top:5px;padding:0px;}
ul.houseTip li { float:left; margin-right:10px; }

.memberIndexNotice { float:left; width:300px; height:120px; background:url(../images/memberIndexNoticeBg.gif) repeat-y; margin-top:30px; margin-left:50px; }
.memberIndexNotice .noticeTitle { font-size:14px; font-weight:bold; margin:10px 0 0 15px; display:inline; }
.noticeCont { clear:both; float:none; }
.noticeCont ul { width:100%; }
.noticeCont ul li { margin:10px 0 0 15px; }
.noticeCont ul li a { color:#999; }

.line { clear:both; float:left; *float:none; border-top:1px solid #fc6; margin-top:35px; }
.memberIndexInfo { clear:both; float:left; *float:none; }

/* communityMainRec */
.communityMainRecBox { float:left; width:250px; border:1px solid #fc6; margin-top:10px; margin-right:5px; }
.communityMainRecTitleBox { width:100%; height:27px; background:url(../images/barDotBgFFD.gif) repeat-x; }
.communityMainRecTitleBox .communityMainRecTitle { float:left; margin-top:6px; margin-left:8px; }
.communityMainRecTitleBox .communityMainRecMore { float:right; margin-top:6px; margin-right:8px; }
.communityMoreLink { margin:5px auto 10px 20px; }
.newHouseListBox { width:100%; }
.newHouseListBox ul { width:93%; padding:8px 10px 0; }
.newHouseListBox ul li { padding-bottom:5px; background:url(../images/dotBg.gif) repeat-x left bottom; margin-bottom:8px; }
.newHouseListBox ul li a { color:#999; }
.bbsMainRecBox { float:left; width:250px; border:1px solid #bababa; margin-top:10px; margin-left:5px; }
.bbsMainRecBox .communityMainRecTitleBox { width:100%; height:27px; background:url(../images/barDotBg.gif) repeat-x; }

.memberProfile { clear:both; float:left; *float:none; width:100%; margin-top:10px; }
.memberProfile ul { width:100%; }
.memberProfile ul li { margin-bottom:10px; }


#container {
	Z-INDEX: 0; POSITION: relative; WIDTH: 100%
}
#header {
	Z-INDEX: 20; POSITION: relative; MIN-WIDTH: 970px; WIDTH: 100%
}
#header DIV.myanjuke {
	BORDER-BOTTOM: #6baf2a 3px solid; POSITION: relative; BACKGROUND: url(../images/headbg_1x57.gif);width:100%;HEIGHT: 57px; BORDER-TOP: #cccccc 1px solid
}
#header DIV.myanjuke DIV.logo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 12px; FLOAT: left; PADDING-TOP: 14px
}
#header DIV.myanjuke DIV.title {
	MARGIN: 22px 0px 0px; FLOAT: left; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
#header DIV.myanjuke DIV.title A {
	COLOR: #000000; TEXT-DECORATION: none
}
#header DIV.myanjuke DIV.nav {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 30px; FLOAT: right; PADDING-TOP: 10px
}
#header DIV.myanjuke DIV.nav SPAN {
	MARGIN: 0px 5px; COLOR: #cccccc
}
#header DIV.myanjuke DIV.nav SPAN.helpicon {
	MARGIN: 0px 5px 0px 0px; WIDTH: 12px; DISPLAY: inline-block; BACKGROUND: url(../images/icon_help_12.gif); HEIGHT: 12px; OVERFLOW: hidden
}
#header DIV.myanjuke DIV.corner_links {
	PADDING-BOTTOM: 0px; MARGIN: 0px 15px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: right; BORDER-TOP: #cccccc 1px solid; PADDING-TOP: 4px
}
#header DIV.myanjuke DIV.corner_links SPAN {
	MARGIN: 0px 5px; COLOR: #cccccc
}
DIV.corner_links {
	POSITION: relative; TEXT-ALIGN: right; LINE-HEIGHT: 16px; PADDING-RIGHT: 4px; FLOAT: right; FONT-SIZE: 12px; PADDING-TOP: 8px
}
DIV.corner_links UL {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
DIV.corner_links LI {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; WHITE-SPACE: nowrap; FLOAT: left; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
DIV.corner_links UL.list_menu {
	Z-INDEX: 10; POSITION: relative; BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 15px; BORDER-RIGHT-STYLE: none; WIDTH: auto; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: auto; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; TOP: 0px
}
DIV.corner_links UL.list_menu A.myanjuke {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(drop01_13x13.gif) no-repeat 88px 2px; PADDING-TOP: 1px
}
DIV.corner_links UL.list_menu A.myanjuke_hover {
	BORDER-BOTTOM: #6cb028 1px; BORDER-LEFT: #6cb028 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 17px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; PADDING-RIGHT: 19px; BACKGROUND-POSITION: 89px 1px; BORDER-TOP: #6cb028 1px solid; BORDER-RIGHT: #6cb028 1px solid; PADDING-TOP: 1px
}
DIV.corner_links UL.list_menu UL.list_submenu {
	Z-INDEX: 10; BORDER-BOTTOM: #6cb028 1px solid; POSITION: absolute; BORDER-LEFT: #6cb028 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 107px; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: auto; OVERFLOW: hidden; BORDER-RIGHT: #6cb028 1px solid; PADDING-TOP: 0px
}
DIV.corner_links UL.list_menu UL.list_submenu LI {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 5px; PADDING-RIGHT: 30px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 5px
}
DIV.corner_links UL.list_menu LI.list_last {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
#topnav .myanjuke .oa:hover {
	TEXT-DECORATION: underline
}
#topnav .content .agent {
	PADDING-RIGHT: 20px; FLOAT: right
}
#topnav .content .agent IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 2px
}
#topnav .content .myanjuke IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 2px
}
#topnav .content .spSep {
	MARGIN: 0px 10px; COLOR: #cbcbcb
}
#topnav .content .myanjuke {
	FLOAT: right
}

