<div class="memberLeftNav">
    <div class="title"></div>
    <ul class="navList">
        <li class="item">
            <p>房源管理</p>
            <ul>
                <li>
                    <a href="<!--{:U(MODULE_NAME.'/ManageHouse/manageSell')}-->">出售管理</a><br />
                    <a href="<!--{:U(MODULE_NAME.'/ManageHouse/manageRent')}-->">出租管理</a></li>
            </ul>

        </li><br />

        <li class="item">
            <p>资料管理</p>
            <ul>
                <li>
                    <a href="<!--{:U(MODULE_NAME.'/ManageCompany/profile')}-->">信息管理</a><br />
                    <a href="<!--{:U(MODULE_NAME.'/ManageCompany/pwdEdit')}-->">修改密码</a><br />
                </li>
            </ul>

        </li>
        <br />

        <li class="item">
            <p>经纪人管理</p>
            <ul>
                <li>
                    <a href="<!--{:U(MODULE_NAME.'/ManageBroker/index')}-->">经纪人管理</a><br />
                </li>
            </ul>

        </li>
        <br />

    </ul>
    <div class="endLeft"></div>
</div>