<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<DIV id=container>
    <DIV id=header>
        <DIV class=myanjuke>
            <DIV class=logo><A href="<!--{:U(MODULE_NAME.'/Index/index')}-->"><IMG border=0 src="__PUBLIC__/images/companylogo.gif"></A></DIV>
            <DIV class=title><A href=""></A></DIV>
            <DIV class=nav><A href="<!--{:U('Home/Index/index')}-->"><!--{$titlec}--></A><SPAN>|</SPAN><A target="_blank" href="<!--{:U('Home/Cshop/index')}-->/id/<!--{$companyInfo.id}-->">公司网站</A><SPAN>|</SPAN><SPAN
                    class=helpicon></SPAN><A target="_blank" href="#">帮助</A></DIV>
            <DIV class=corner_links>
                <UL class=list_menu>
                    <LI class=list_first><A target="_blank" href="<!--{:U('Home/Cshop/index')}-->/id/<!--{$companyInfo.id}-->"><!--{$companyInfo.company_name}--></A> 欢迎回来！</LI>

                    <LI class=list_last><A
                            href="<!--{:U('Login/logout')}-->">退出</A>
                    </LI></UL></DIV></DIV></DIV>