<include file="Common:head"/>
<css file="__PUBLIC__/css/list.css"/>
<include file="Common:nav"/>

<div class="container-fluid" >
    <div class="row">

        <div class="well col-sm-12">
            <div class="row">


                <div class="col-sm-4 col-sm-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="输入写字楼名称">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-lg" type="button">搜索</button>
                </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>

    </div>




</div>

<div class="container-fluid" >

    <div class="row">

        <div class="col-sm-10 col-sm-offset-1" style="padding-left: 15px;">
            <ul class="list-inline">
                <li><a href="#">首页&nbsp;&nbsp;></a></li>
                <li><a href="#">南京写字楼&nbsp;&nbsp;></a></li>
                <li class="active">写字楼出租&nbsp;&nbsp;></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe" style="color: red;"></span>&nbsp;按区域查询</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-road" style="color: blue"></span>&nbsp;按地铁查询</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-map-marker" style="color: red;"></span>&nbsp;切换到地图搜索</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content set_font_row">
                <div role="tabpanel" class="tab-pane active" id="home" style="">

                    <ul class="list-inline">
                        <li><h5><span class="label label-danger">区域：</span></h5></li>
                        <li><a href="">不限</a></li>
                        <li><a href="">鼓楼</a></li>
                        <li><a href="">建邺</a></li>
                        <li><a href="">玄武</a></li>
                        <li><a href="">江宁</a></li>
                        <li><a href="">秦淮</a></li>
                        <li><a href="">雨花</a></li>
                        <li><a href="">栖霞</a></li>
                        <li><a href="">浦口</a></li>
                        <li><a href="">六合</a></li>
                        <li><a href="">高淳</a></li>
                        <li><a href="">溧水</a></li>
                        <li><a href="">南京周边</a></li>
                    </ul>


                    <ul class="list-inline">
                        <li><h5><span class="label label-danger">租金：</span></h5></li>
                        <li><a href="">不限</a></li>
                        <li><a href="">1元/平米·天以下</a></li>
                        <li><a href="">1-2元</a></li>
                        <li><a href="">2-3元</a></li>
                        <li><a href="">3-4元</a></li>
                        <li><a href="">4-5元</a></li>
                        <li><a href="">5-6元</a></li>
                        <li><a href="">6-7元</a></li>
                        <li><a href="">7-8元</a></li>
                        <li><a href="">8-9元</a></li>
                        <li><a href="">9-12元</a></li>
                        <li><a href="">12元/平米·天以上</a></li>

                    </ul>


                    <ul class="list-inline">
                        <li><h5><span class="label label-danger">面积：</span></h5></li>
                        <li><a href="">不限</a></li>
                        <li><a href="">100平米以下</a></li>
                        <li><a href="">100-200平米</a></li>
                        <li><a href="">200-300平米</a></li>
                        <li><a href="">300-500平米</a></li>
                        <li><a href="">500-800平米</a></li>
                        <li><a href="">800-1000平米</a></li>
                        <li><a href="">1000-2000平米</a></li>
                        <li><a href="">2000平米以上</a></li>

                    </ul>

                    <ul class="list-inline">
                        <li><h5><span class="label label-danger">类型：</span></h5></li>
                        <li><a href="">不限</a></li>
                        <li><a href="">纯写字楼</a></li>
                        <li><a href="">商住楼</a></li>
                        <li><a href="">商业综合体楼</a></li>
                        <li><a href="">酒店写字楼</a></li>


                    </ul>

                    <div class="well well-sm" style="margin-left: -13px;margin-top: -1px;padding-left: 12px;">

                    <ul class="list-inline">
                        <li><h5><span class="label label-danger">特色：</span></h5></li>
                        <li><a href="">不限</a></li>
                        <li><a href="">可注册</a></li>
                        <li><a href="">赠送免租期</a></li>
                        <li><a href="">交通便利</a></li>
                        <li><a href="">名企入驻</a></li>
                        <li><a href="">中心商务区</a></li>
                        <li><a href="">地标建筑</a></li>
                        <li><a href="">繁华商圈</a></li>
                        <li><a href="">知名物业</a></li>

                    </ul>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="profile">

                </div>
                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                <div role="tabpanel" class="tab-pane" id="settings">
                    <div class="well well-lg">

                    </div>
                </div>
            </div>

        </div>
    </div>











</div><!-- containner结束 -->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#all_fang" aria-controls="all_fang" role="tab" data-toggle="tab">全部房源</a></li>
                            <li role="presentation"><a href="#geren_fang" aria-controls="geren_fang" role="tab" data-toggle="tab">个人房源</a></li>
                            <li role="presentation"><a href="#qita_fang" aria-controls="qita_fang" role="tab" data-toggle="tab">Messages</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="all_fang">
                                <!-- 媒体对象列表 -->
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang2.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="mengti_l_b">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="__PUBLIC__/images/fang1.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="houseList">
                                                    <div class="list">
                                                        <h5 class="media-heading"><a href="">龙台国际大厦 双地铁口 精装修 挑高型 户型采光极佳</a></h5>


                                                        <div class="info rel">


                                                            <p class="mt15">
                                                                <a title="黄埔大厦" href="" target="_blank"><span class="spName">黄埔大厦</span></a>
                                                                <span title="瑞金路黄埔路2号" class="ml10 spAddr">瑞金路黄埔路2号</span>
                                                            </p>
                                                            <p class="mt10">等级：甲级<span class="line">/</span>所在楼层：中区(共30层)</p>
                                                            <p class="mt10"><a class="marr7" target="_blank" title="访问[卢伟]的个人网上店铺，查看更多房源" href="">卢伟</a><span class="ml10">32秒前更新</span></p>
                                                            <div class="mt12">
                                                                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                                                                <div class="floatl note-img"></div>
                                                            </div>
                                                            <div class="area area2">210㎡<p class="tag">建筑面积</p></div>
                                                            <div class="moreInfo">
                                                                <p class="mt5">
                                                                    <span class="price">2.3</span>
                                                                    <span class="ml5">元/平米 · 天</span>
                                                                </p>
                                                                <p class="danjia mt5">
                                                                    14490元<span class="Arial">/</span>月
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- mediobody -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="geren_fang">...</div>
                            <div role="tabpanel" class="tab-pane" id="qita_fang">...</div>
                        </div>
        </div>
        <!-- 右侧栏 -->
        <div class="col-sm-3">

        </div>
    </div>
</div>






</body>
</html>