<div class="row">
    <div class="search-con col-sm-offset-1">

        <!--区县商圈start-->
        <div class="quxian mt20 ml25" id="list_38">
            <span class="type">地铁：</span>
            <div style="z-index:2" class="qxName">
                <a style="font-weight:700;" class="org bold" href="/zu/house1/">不限</a><a href="/zu/house1-j049/">1号线</a><a href="/zu/house1-j050/">2号线</a><a href="/zu/house1-j058/">3号线</a><a href="/zu/house1-j0164/">10号线</a><a href="/zu/house1-j0166/">机场线</a><a href="/zu/house1-j0174/">S8</a>
            </div>

            <div id="div_shangquan" class="shangQuan" style="display: none;">
                <p class="top"></p>
                <p id="tagContent0" class="contain">

                </p>
                <p class="bottom"></p>
            </div>
            <script type="text/javascript">if(document.getElementById("tagContent0").innerHTML.replace(/(^\s*)|(\s*$)/g, "")=="") {document.getElementById("div_shangquan").style.display='none';}</script>

            <!--区县商圈end-->

        </div>
        <div class="clear"></div>
        <ul class="info ml25">
            <li><span>距<span class="pl24">离：</span></span><a class="orange bold" href="/zu/house1/">不限</a><a href="/zu/house1/m31000/">1000米以内</a><a href="/zu/house1/k31000-m32000/">1000-2000米</a></li>
            <li id="esf_B02_03"><p class="floatl">租金：<a rel="nofollow" class="org bold" href="/zu/house1/">不限</a><a rel="nofollow" href="/zu/house1/d11/">1元/平米·天以下</a><a rel="nofollow" href="/zu/house1/c11-d12/">1-2元</a><a rel="nofollow" href="/zu/house1/c12-d13/">2-3元</a><a rel="nofollow" href="/zu/house1/c13-d14/">3-4元</a><a rel="nofollow" href="/zu/house1/c14-d15/">4-5元</a><a rel="nofollow" href="/zu/house1/c15-d17/">5-7元</a><a rel="nofollow" href="/zu/house1/c17-d19/">7-9元</a><a rel="nofollow" href="/zu/house1/c19-d112/">9-12元</a><a rel="nofollow" href="/zu/house1/c112/">12元/平米·天以上</a></p><input type="text" title="请输入最低价格" value="" maxlength="5" size="4" class="inputSmall" onfocus="javascript:document.getElementById('pConfirmButton').style.display='inline-block';" id="cminPrice"> - <input type="text" title="请输入最高价格" value="" maxlength="5" size="4" class="inputSmall" onfocus="javascript:document.getElementById('pConfirmButton').style.display='inline-block';" id="cmaxPrice">元
   <span class="tip-box">
<input type="button" style="display: none;" value="确定" class="btnSmall" id="pConfirmButton">
<div style="z-index:1002;display:none;top:-55px;right:33px;left:auto;" class="w_tip" id="MessagePrice">
    <div class="top"></div>
    <div class="bottom" id="MessagePriceText"></div>
</div>
</span>
            </li>

            <li id="esf_B02_04"><p class="floatl">面积：<a rel="nofollow" style="font-weight:700;" class="org bold" href="/zu/house1/">不限</a><a rel="nofollow" href="/zu/house1/k2100/">100平米以下</a><a rel="nofollow" href="/zu/house1/j2100-k2200/">100-200平米</a><a rel="nofollow" href="/zu/house1/j2200-k2300/">200-300平米</a><a rel="nofollow" href="/zu/house1/j2300-k2500/">300-500平米</a><a rel="nofollow" href="/zu/house1/j2500-k2800/">500-800平米</a><a rel="nofollow" href="/zu/house1/j2800-k21000/">800-1000平米</a><a rel="nofollow" href="/zu/house1/j21000-k22000/">1000-2000平米</a><a rel="nofollow" href="/zu/house1/j22000/">2000平米以上</a>
            </p><input type="text" title="请输入最小面积" value="" maxlength="4" size="4" id="cminArea" onfocus="javascript:document.getElementById('aConfirmButton').style.display='inline-block';" class="inputSmall"> - <input type="text" title="请输入最大面积" value="" maxlength="4" size="4" class="inputSmall" onfocus="javascript:document.getElementById('aConfirmButton').style.display='inline-block';" id="cmaxArea"> <span class="tip-box">
    <input type="button" style="display: none;" value="确定" class="btnSmall" id="aConfirmButton">
<div style="z-index:1002;display:none;left:auto;top:-55px;right:28px;" class="w_tip" id="MessageArea">
    <div class="top"></div>
    <div class="bottom" id="MessageAreaText"></div>
</div></span></li>
            <li id="esf_B02_07">类型：<a class="org bold" href="/zu/house1/">不限</a><a href="/zu/house1/l21/">纯写字楼</a><a href="/zu/house1/l22/">商住楼</a><a href="/zu/house1/l23/">商业综合体楼</a><a href="/zu/house1/l24/">酒店写字楼</a></li>

        </ul>

    </div>

</div>




<css file="__PUBLIC__/css/ShopListStyle.css"/>
<css file="__PUBLIC__/css/navigation20141112.css"/>
<css file="__PUBLIC__/css/reset.css"/>
<css file="__PUBLIC__/css/search1023.css"/>


<div class="row">
    <div class="search-con col-sm-offset-1">

        <!--区县商圈start-->
        <div class="quxian mt20 ml25" id="list_38">
            <span class="type">区域：</span>
            <div style="z-index:2" class="qxName">
                <a style="font-weight:700;" class="org bold" href="">不限</a>
                <a href="">鼓楼</a>
                <a href="">建邺</a>
                <a href="">玄武</a>
                <a href="">江宁</a>
                <a href="">秦淮</a>
                <a href="">雨花</a>
                <a href="">栖霞</a>
                <a href="">浦口</a>
                <a href="">六合</a>
                <a href="">高淳</a>
                <a href="">溧水</a>
                <a href="">南京周边</a>
            </div>

            <div id="div_shangquan" class="shangQuan" style="display: none;">
                <p class="top"></p>
                <p id="tagContent0" class="contain">

                </p>
                <p class="bottom"></p>
            </div>
            <script type="text/javascript">if(document.getElementById("tagContent0").innerHTML.replace(/(^\s*)|(\s*$)/g, "")=="") {document.getElementById("div_shangquan").style.display='none';}</script>

            <!--区县商圈end-->

        </div>
        <div class="clear"></div>
        <!-- 价格 面积 类型开始 -->
        <ul class="info ml25">
            <!-- 价格开始 -->
            <li id="esf_B02_03">
                <p class="floatl">租金：
                    <a rel="nofollow" class="org bold" href="">不限</a>
                    <a rel="nofollow" href="">1元/平米·天以下</a>
                    <a rel="nofollow" href="">1-2元</a>
                    <a rel="nofollow" href="">2-3元</a>
                    <a rel="nofollow" href="">3-4元</a>
                    <a rel="nofollow" href="">4-5元</a>
                    <a rel="nofollow" href="">5-7元</a>
                    <a rel="nofollow" href="">7-9元</a>
                    <a rel="nofollow" href="">9-12元</a>
                    <a rel="nofollow" href="">12元/平米·天以上</a>
                </p>
                <input type="text" title="请输入最低价格" value="" maxlength="5" size="4" class="inputSmall" onfocus="javascript:document.getElementById('pConfirmButton').style.display='inline-block';" id="cminPrice">
                -
                <input type="text" title="请输入最高价格" value="" maxlength="5" size="4" class="inputSmall" onfocus="javascript:document.getElementById('pConfirmButton').style.display='inline-block';" id="cmaxPrice">元
                    <span class="tip-box">
                        <input type="button" style="display: none;" value="确定" class="btnSmall" id="pConfirmButton">
                        <div style="z-index:1002;display:none;top:-55px;right:33px;left:auto;" class="w_tip" id="MessagePrice">
                            <div class="top"></div>
                            <div class="bottom" id="MessagePriceText"></div>
                        </div>
                    </span>
            </li>
            <!-- 价格结束 -->

            <!-- 面积开始 -->

            <li id="esf_B02_04">
                <p class="floatl">面积：
                    <a rel="nofollow" style="font-weight:700;" class="org bold" href="">不限</a>
                    <a rel="nofollow" href="">100平米以下</a>
                    <a rel="nofollow" href="">100-200平米</a>
                    <a rel="nofollow" href="">200-300平米</a>
                    <a rel="nofollow" href="">300-500平米</a>
                    <a rel="nofollow" href="">500-800平米</a>
                    <a rel="nofollow" href="">800-1000平米</a>
                    <a rel="nofollow" href="">1000-2000平米</a>
                    <a rel="nofollow" href="">2000平米以上</a>
                </p>
                <input type="text" title="请输入最小面积" value="" maxlength="4" size="4" id="cminArea" onfocus="javascript:document.getElementById('aConfirmButton').style.display='inline-block';" class="inputSmall">
                -
                <input type="text" title="请输入最大面积" value="" maxlength="4" size="4" class="inputSmall" onfocus="javascript:document.getElementById('aConfirmButton').style.display='inline-block';" id="cmaxArea">
                    <span class="tip-box">
                        <input type="button" style="display: none;" value="确定" class="btnSmall" id="aConfirmButton">
                        <div style="z-index:1002;display:none;left:auto;top:-55px;right:28px;" class="w_tip" id="MessageArea">
                            <div class="top"></div>
                            <div class="bottom" id="MessageAreaText"></div>
                        </div>
                    </span>
            </li>
            <!-- 面积结束 -->

            <!-- 类型开始 -->
            <li id="esf_B02_07">
                类型：
                <a class="org bold" href="">不限</a>
                <a href="">纯写字楼</a>
                <a href="">商住楼</a>
                <a href="">商业综合体楼</a>
                <a href="">酒店写字楼</a>
            </li>
            <!-- 类型结束 -->
        </ul>
        <!-- 特色开始 -->
        <div class="moresearchinfo tese">
            <span>特色：</span>
            <a class="org bold" href="">不限</a>
            <a href="">可注册</a>
            <a href="">赠送免租期</a>
            <a href="">交通便利</a>
            <a href="">名企入驻</a>
            <a href="">中心商务区</a>
            <a href="">地标建筑</a>
            <a href="">繁华商圈</a>
            <a href="">知名物业</a>
            <div class="clear"></div>
        </div>
        <!-- 特色结束 -->

    </div>
</div>





</div>




<div class="houseList">

    <dl class="list rel" id="esf_B02_32">
        <dt class="img rel floatl">
            <a title="" target="_blank" href="">
                <img width="180" height="135" onerror="imgiserror(this,'http://img10.soufunimg.com/agents/2016_08/02/M09/09/78/wKgHFVegfNyIHlReAACsobLTFHoAAOzDQHn6jkAAKy5342.jpg')" src="http://img10.soufunimg.com/viewimage/agents/2016_08/02/M09/09/78/wKgHFVegfNyIHlReAACsobLTFHoAAOzDQHn6jkAAKy5342/220x165c.jpg" usertype="1" alt="">
            </a>
            <!--未知-->
        <p class="txtBg"></p>
        <p class="txt">
            <span class="iconImg">8</span>
        </p>
        </dt>

        <dd class="info rel floatr">

            <p class="title">
                <a title="黄埔大厦 军区总医院对面 此房电梯口 4个房间1个会议室 随时可看" target="_blank" href="/zu/3_158247892.html">
                    黄埔大厦 军区总医院对面 此房电梯口 4个房间1个会...
                </a>
                <!--删除多图房源图标改为数字-->
            </p>
            <p class="gray6 mt15">
                <a title="黄埔大厦" href="/zu/house-xm1810924652/" target="_blank"><span class="spName">黄埔大厦</span> </a>
                                    <span title="瑞金路黄埔路2号" class="iconAdress ml10 spAddr">
                                        瑞金路黄埔路2号
                                    </span>
            </p>
            <p class="gray6 mt10">
                等级：甲级
                <span class="line">/</span>所在楼层：中区(共30层)

            </p>
            <p class="gray6 mt10">
                <a class="marr7" target="_blank" style="color:#333333" title="访问[卢伟]的个人网上店铺，查看更多房源" href="http://esf.nanjing.fang.com/a/lw13584007224">卢伟</a>
                                    <span class="ml10 gray9">
                                        32秒前更新
                                    </span>
            </p>
            <div class="mt12">
                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">交通便利</span><span class="colorBlue note">名企入驻</span></div>
                <div class="floatl note-img"></div>
            </div>
            <div class="area area2 alignR">210㎡<p class="tag">建筑面积</p></div>
            <div class="moreInfo moreInfo2">
                <p class="mt5 alignR">
                    <span class="price">2.3</span>
                    <span class="YaHei ml5">元/平米 · 天</span>

                </p>
                <p class="danjia alignR mt5 gray6">
                    14490元<span class="Arial">/</span>月
                </p>
            </div>
        </dd>
        <div class="clear">
        </div>
    </dl>

    <dl class="list rel" id="esf_B02_33" onmouseover="mouseOverStyle(this)" onmouseout="mouseOutStyle(this)">
        <dt class="img rel floatl">
            <a title="" target="_blank" href="/zu/3_157995714.html">
                <img width="180" height="135" onerror="imgiserror(this,'http://cdnsfb.soufunimg.com/6/2016_7/8/M18/45/5e28736938db439583ebf80c23ba409e.jpg')" src="http://cdnsfb.soufunimg.com/viewimage/6/2016_7/8/M18/45/5e28736938db439583ebf80c23ba409e/220x165c.jpg" usertype="1" alt="">
            </a>
            <!--未知-->
        <p class="txtBg"></p>
        <p class="txt">
            <span class="iconImg">6</span>
        </p>
        </dt>
        <dd class="info rel floatr">

            <p class="title">
                <a title="新世界中心A座 珠江路地铁口 精装修 全套办公家具 拎包办公" target="_blank" href="/zu/3_157995714.html">
                    新世界中心A座 珠江路地铁口 精装修 全套办公家具 ...
                </a>
                <!--删除多图房源图标改为数字-->
            </p>
            <p class="gray6 mt15">
                <a title="新世界中心写字楼" href="/zu/house-xm1810034460/" target="_blank"><span class="spName">新世界中心写字楼</span> </a>
                                    <span title="珠江路88号" class="iconAdress ml10 spAddr">
                                        珠江路88号
                                    </span>
            </p>
            <p class="gray6 mt10">
                等级：甲级
                <span class="line">/</span>所在楼层：高区(共44层)

            </p>
            <p class="gray6 mt10">
                <a class="marr7" target="_blank" style="color:#333333" title="访问[卢伟]的个人网上店铺，查看更多房源" href="http://esf.nanjing.fang.com/a/luweiqn">卢伟</a>
                                    <span class="ml10 gray9">
                                        32秒前更新
                                    </span>
            </p>
            <div class="mt12">

                <div class="floatl note-img"></div>
            </div>
            <div class="area area2 alignR">139㎡<p class="tag">建筑面积</p></div>
            <div class="moreInfo moreInfo2">
                <p class="mt5 alignR">
                    <span class="price">2.28</span>
                    <span class="YaHei ml5">元/平米 · 天</span>

                </p>
                <p class="danjia alignR mt5 gray6">
                    9500元<span class="Arial">/</span>月
                </p>
            </div>
        </dd>
        <div class="clear">
        </div>
    </dl>









    <dl class="list rel" id="esf_B02_44">
        <dt class="img rel floatl">
            <a title="" target="_blank" href="/zu/3_157657495.html">
                <img width="180" height="135" onerror="imgiserror(this,'http://img10.soufunimg.com/agents/2016_06/04/M08/03/80/wKgHFVdSScqIRFIQAALjLjkVkdgAAFeKAFIqvgAAuNG405.jpg')" src="http://img10.soufunimg.com/viewimage/agents/2016_06/04/M08/03/80/wKgHFVdSScqIRFIQAALjLjkVkdgAAFeKAFIqvgAAuNG405/220x165c.jpg" usertype="1" alt="">
            </a>
            <!--未知-->
        <p class="txtBg"></p>
        <p class="txt">
            <span class="iconImg">10</span>
        </p>
        </dt>
        <dd class="info rel floatr">

            <p class="title">
                <a title="凤凰国际大厦 地铁口 甲级纯写 户型方正 设施齐全 现房可注册" target="_blank" href="/zu/3_157657495.html">
                    凤凰国际大厦 地铁口 甲级纯写 户型方正 设施齐全 ...
                </a>
                <!--删除多图房源图标改为数字-->
            </p>
            <p class="gray6 mt15">
                <a title="凤凰国际大厦" href="/zu/house-xm1810907850/" target="_blank"><span class="spName">凤凰国际大厦</span> </a>
                                    <span title="中央路401号" class="iconAdress ml10 spAddr">
                                        中央路401号
                                    </span>
            </p>
            <p class="gray6 mt10">
                等级：甲级
                <span class="line">/</span>所在楼层：低区(共40层)

            </p>
            <p class="gray6 mt10">
                <a class="marr7" target="_blank" style="color:#333333" title="访问[陈尧]的个人网上店铺，查看更多房源" href="http://esf.nanjing.fang.com/a/chenyao121212">陈尧</a>
                                    <span class="ml10 gray9">
                                        1分钟前更新
                                    </span>
            </p>
            <div class="mt12">
                <div class="pt4 floatl"><span class="colorGreen note">可注册</span><span class="colorRed note">赠送免租期</span><span class="colorBlue note">交通便利</span></div>
                <div class="floatl note-img"></div>
            </div>
            <div class="area area2 alignR">190㎡<p class="tag">建筑面积</p></div>
            <div class="moreInfo moreInfo2">
                <p class="mt5 alignR">
                    <span class="price">3.25</span>
                    <span class="YaHei ml5">元/平米 · 天</span>

                </p>
                <p class="danjia alignR mt5 gray6">
                    18500元<span class="Arial">/</span>月
                </p>
            </div>
        </dd>
        <div class="clear">
        </div>
    </dl>



    <div class="clear"></div>
</div>



<div class="row">
    <div class="col-sm-offset-1">
        <ul class="nav nav-tabs chaoxun_nav">
            <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-globe" style="color: red;"></span>&nbsp;按区域查询</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-road" style="color: blue"></span>&nbsp;按地铁查询</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-map-marker" style="color: red;"></span>&nbsp;切换到地图搜索</a></li>
        </ul>
    </div>
</div>