<!-- 新增部分开始 -->


<div class="topbar_bg">
    <div class="topbar">
        <div style="float:left">
            您当前所在的城市 <b><!--{$cfg.page.city}--></b> <!--{if $cfg.page.switch_url}-->
            <a href="<!--{$cfg.page.switch_url}-->" title="切换城市">【切换城市】</a>
            <!--{/if}-->
        </div>
        <div style="float:right">
            <!--{if $username}-->
            <span class="s_l">您好，<!--{$username}-->！</span><a class="s_l" href="<!--{$cfg.url}-->member" target="_blank">[我的办公室]</a><a class="s_l" href="<!--{$cfg.url}-->login/login.php?action=logout" target="_blank">[退出登录]</a>

            <!--{else}-->
            <span class="s_l">您好，欢迎来到<!--{$cfg.page.titlec}-->！</span><a class="s_l" href="<!--{$cfg.url}-->login/login.php" target="_blank" title="登录">[登录]</a><a class="s_l" href="<!--{$cfg.url}-->login/login.php" target="_blank" title="经纪人注册">[经纪人注册]</a>
            <!--{/if}-->
        </div>


    </div>
</div>


<div class="xg_nav">
    <div class="xg_navcont1">
        <div class="xg_logo"><a title="<!--{$cfg.page.titlec}-->" href="<!--{$cfg.url}-->"><img alt="<!--{$cfg.page.titlec}-->" src="<!--{$cfg.path.images}-->logo.png" height="53" /></a><span>租售引擎</span></div>
        <div class="xg_menu">
            <div class="xg_menucont">
                <ul>

                    <li <!--{if $menu=='index'}-->class="xg_cur"<!--{/if}-->><a href="<!--{$cfg.url}-->">首  页</a></li>
                    <!--{if $cfg.page.newsOpen ==1}-->
                    <li><a href="<!--{$cfg.url_news}-->">新  闻</a></li>
                    <!--{/if}-->
                    <li <!--{if $menu=='sale'}-->class="xg_cur"<!--{/if}-->><a href="<!--{$cfg.url_sale}-->">二手房</a></li>
                    <li <!--{if $menu=='rent'}-->class="xg_cur"<!--{/if}-->><a href="<!--{$cfg.url_rent}-->">租  房</a></li>
                    <!--{if $cfg.page.newhouseOpen ==1}-->
                    <li <!--{if $menu=='newHouse'}-->class="xg_cur"<!--{/if}-->><a href="<!--{$cfg.url_newHouse}-->">新  房</a></li>
                    <!--{/if}-->
                    <li <!--{if $menu=='broker'}-->class="xg_cur"<!--{/if}-->><a href="<!--{$cfg.url_broker}-->">经纪人</a></li>
                    <li <!--{if $menu=='community'}-->class="xg_cur"<!--{/if}-->><a href="<!--{$cfg.url_community}-->">小  区</a></li>
                    <li <!--{if $menu=='company'}-->class="xg_cur"<!--{/if}-->><a href="<!--{$cfg.url_company}-->">公  司</a></li>
                    <!--{if $cfg.page.bbsOpen ==1}-->
                    <li><a href="<!--{$cfg.url_bbs}-->">论  坛</a></li>
                    <!--{/if}-->
                </ul>
                <span class="xg_map"><a href="<!--{$cfg.url}-->m/map">地图找房</a></span>  </div>
            <i></i>
        </div>
    </div>
    <div class="xg_line"></div>

</div>
<!-- 新增部分结束 -->