<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<DIV id=container>
    <DIV id=header>
        <DIV class=myanjuke>
            <DIV class=logo><A href="<!--{$cfg.url}-->member"><IMG border=0 src="__PUBLIC__/images/memberlogo.gif"></A></DIV>
            <DIV class=title><A href=""></A></DIV>
            <DIV class=nav><A href="<!--{$cfg.url}-->"><!--{$cfg.page.titlec}--></A><SPAN>|</SPAN><A target="_blank" href="<!--{$cfg.url_shop}--><!--{$member_id}-->">我的店铺</A><SPAN>|</SPAN><SPAN
                    class=helpicon></SPAN><A target="_blank" href="#">帮助</A></DIV>
            <DIV class=corner_links>
                <UL class=list_menu>
                    <LI class=list_first>您好，<A target="_blank" href="<!--{$cfg.url_shop}--><!--{$member_id}-->"><!--{$username}--></A> 欢迎回来！</LI>
                    <LI><A href="<!--{$cfg.url}-->member/msgInbox.php">站内信(<!--{$msgCount}-->)</A> </LI>
                    <LI class=list_last><A
                            href="<!--{$cfg.url}-->login/login.php?action=logout">退出</A>
                    </LI></UL></DIV></DIV></DIV>
    </DIV>