<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><!--{$title}--> - 房源管理</title>
    <css file="__PUBLIC__/css/member.css"/>
    <js file="__PUBLIC__/js/jquery.min.js"/>
    <js file="__PUBLIC__/js/map.js"/>

    <js file="__PUBLIC__/js/thickbox.js"/>
    <css file="__PUBLIC__/css/thickbox.css"/>
</head>
<body>
<include file="Common:memberHeader"/>
<div class="main">
    <div class="page">
        <include file="Common:member_left"/>
        <div class="memberBox">
            <div class="memberBoxTab">
                <ul>
                    <li><a href="<!--{:U(MODULE_NAME.'/Housesell/addSell')}-->"><span>发布出售</span></a></li>
                    <li><a href="<!--{:U(MODULE_NAME.'/HouseRent/addRent')}-->"><span>发布出租</span></a></li>
                    <li><a href="<!--{:U(MODULE_NAME.'/HouseSell/index')}-->" ><span>出售管理</span></a></li>
                    <li><a href="#" class="linkOn"><span>出租管理</span></a></li>
                </ul>
            </div>
            <div class="manageSub">
                <ul class="manageSubNav">
                    <li><a href="<!--{:U(MODULE_NAME.'/HouseRent/index')}-->"><span>出售中</span></a></li>
                    <li><a href="<!--{:U(MODULE_NAME.'/ManageRent/RentTopDone')}-->"><span>置顶中</span></a></li>
                    <li class="linkOn"><a href="#"><span>回收站</span></a></li>
                    <li><a href="<!--{:U(MODULE_NAME.'/ManageRent/RentDone')}-->"><span>成交榜</span></a></li>
                </ul>
            </div>
            <div class="manageBox">
                <div class="houseSearch">
                    <form name="searchForm" action="" method="GET">
                        是否过期：<select class="select" name="status">
                        <option value="">不限</option>
                        <option value="2" <if condition='$Think.get.status eq 2'>selected</if>>未过期</option>
                        <option value="3" <if condition='$Think.get.status eq 3'>selected</if>>已过期</option>
                    </select>&nbsp;
                        <input class="input" name="q" type="text" size="30" value="<if condition='$q neq null' ><!--{$q}--><else/>输入房源编号或小区名称</if>" onblur="if(this.value ==''||this.value == '输入房源编号或小区名称'){this.value = '输入房源编号或小区名称';}" onfocus="if(this.value == '输入房源编号或小区名称'){this.value = '';}" />&nbsp;<input type="button" value="搜 索"  onclick="javascript:document.searchForm.submit();"  />&nbsp;<a href="#notice">回收站管理必读</a>
                    </form>
                </div>
                <div class="houseList">
                    <table border="0" cellpadding="0" cellspacing="1">
                        <thead class="tableTitle">
                        <tr>
                            <td colspan="6">房源基本信息</td>
                            <td>点击统计</td>
                            <td>下架时间</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <form name="myform" action="" method="POST">
                            <input type="hidden" name="to_url" value="<!--{$to_url}-->">
                            <thead class="tableSubTitle">
                            <tr>
                                <td width="13%">房源编号</td>
                                <td width="20%">小区名称</td>
                                <td width="10%">户型</td>
                                <td width="8%">面积</td>
                                <td width="8%">售价</td>
                                <td width="10%">发布时间</td>
                                <td width="10%">总计</td>
                                <td width="10%">&nbsp;</td>
                                <td width="9%">&nbsp;</td>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name='dataList' item='item'>
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="<!--{$item.id}-->" />&nbsp;<a href="<!--{$cfg.url_sale}-->d-<!--{$item.id}-->.html" title="查看房源详细信息" target="_blank"><!--{$item.house_no}--></a></td>
                                <td><!--{$item.borough_name}--></td>
                                <td><!--{$item.house_room}-->-<!--{$item.house_hall}-->-<!--{$item.house_toilet}-->-<!--{$item.house_veranda}--></td>
                                <td><!--{$item.house_totalarea}-->㎡</td>
                                <td class="f90"><if condition='$item.house_price eq 0'>面议<else/><!--{$item.house_price}-->万</if></td>
                                <td><!--{$item.created|date='Y-m-d',###}--></td>
                                <td><!--{$item.click_num}--></td>
                                <td><if condition="$item.house_downtime neq null"><!--{$item.house_downtime|date='Y-m-d',###}--><else/>&nbsp;</if></td>
                                <td><if condition='$item.status eq 2'><a href="<!--{:U(MODULE_NAME.'/ManageRent/added')}-->/id/<!--{$item.id}-->" title="重新上架房源">上架</a><else/>已过期</if></td>
                            </tr>
                            </foreach>
                            <tr>
                                <td colspan="9" class="listOperation">
                                    <label for="checkBoxAll"><input type="checkbox" id="checkBoxAll" name="checkBoxAll" value="1" onclick="checkAll(this);" />全选</label>
                                    <input id="listOperationBtn" class="listOperationBtn" type="button" value="彻底删除选中的房源" />
                                </td>
                            </tr>
                            </tbody>
                        </form>
                    </table>
                    <!--{$pagePanel}-->
                </div>
            </div>
            <div class="note">
                <p><a name="notice" id="notice"></a>回收站管理必读：</p>
                <ul>
                    <li>回收站内的房源均不对外展示；</li>
                    <li>超过有效期(90天)的房源，不可再上架，请删除；</li>
                    <li>有效期内的房源，点击“上架”后可重新对外展示；</li>
                    <li>选择“是否过期”并搜索，可对已过期和未过期房源进行分别显示；</li>
                    <li>回收站中不提供批量上架功能，请经纪人逐一核实房源的有效性，逐条上架。无效房源请删除；</li>
                    <li>回收站中进行“删除”操作，将彻底删除房源不可回收；</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<script language="javascript">
    $('#listOperationBtn').click(function(){
        if(confirm('你确定彻底删除选中的房源么？')){
            myform.action='<!--{:U(MODULE_NAME."/ManageRent/delete")}-->';
            document.myform.submit();}

    })
    function checkAll(formObj){
        if(formObj.checked){
            $('input[type=checkbox]').prop('checked', true);
        }else{
            $('input[type=checkbox]').prop('checked', false);
        }
    }
</script>
</body>
</html>